'use strict'
###*
 # @ngdoc overview
 # @name fraseApp
 # @description
 # # fraseApp
 #
 # Main module of the application.
###
angular
	.module 'fraseApp', [
		'ngAnimate',
		'ngCookies',
		'ngResource',
		'ngRoute',
		'ngSanitize',
		'ngTouch',
		'ui.bootstrap',
		'ui.event',
		'ui.mask',
		'modajax',
		'ngMap',
		'ngCovervid',
		'gilbox.kineticSlider',
		'anguvideo',
		'templates'
	]
	.config ($routeProvider, $httpProvider) ->
		$httpProvider.defaults.headers.common['X-CSRF-TOKEN']     = $('meta[name="csrf-token"]').attr('content')
		$httpProvider.defaults.headers.common['X-CSRFToken']      = $('meta[name="csrf-token"]').attr('content')
		$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
		$httpProvider.defaults.headers.post['Content-Type']       = 'application/x-www-form-urlencoded;charset=utf-8'
		$httpProvider.defaults.headers.common["Content-Type"] 	  = 'application/json'

		$routeProvider
			.when '/',
				templateUrl: '_main.html'
				controller: 'MainCtrl'
			.when '/a-empresa',
				templateUrl: '_aempresa.html'
				controller: 'AboutCtrl'
			.when '/servicos',
				templateUrl: '_services.html'
				controller: 'ServicesCtrl'
			.when '/cursos',
				templateUrl: '_courses.html'
				controller: 'CoursesCtrl'
			.when '/cursos/presencial/:slug',
				templateUrl: 'curso-presencial.html'
				controller: 'CoursesViewCtrl'
			.when '/cursos/online/:slug',
				templateUrl: 'courses-single.html'
				controller: 'CoursesViewCtrl'
			.when '/curso-in-company',
				templateUrl: 'curso-in-company.html'
				controller: 'CourseInCompanyCtrl'			
			.when '/curso-presencial',
				templateUrl: 'curso-presencial.html'
				controller: 'CoursesViewCtrl'
			.when '/cadastro-curso/:slug/:classroom',
				templateUrl: 'cadastro-curso.html'
				controller: 'SubscriptionsCtrl'
			.when '/servicos/:slug',
				templateUrl: 'servicos-single.html'
				controller: 'ServicesSingleCtrl'
			.when '/portfolio',
				templateUrl: 'portfolio.html'
				controller: 'JobsCtrl'
			.when '/portfolio/:slug',
				templateUrl: 'portfolio-single.html'
				controller: 'JobsSingleCtrl'
			.when '/talentos',
				templateUrl: '_banco_talentos.html'
				controller: 'TalentsCtrl'
			.when '/depoimentos',
				templateUrl: 'depoimentos.html'
				controller: 'TestimoniesCtrl'
			.when '/quem-atendemos',
				templateUrl: 'quem-atendemos.html'
				controller: 'CustomersCtrl'
			.when '/contato',
				templateUrl: 'contato.html'
				controller: 'ContactCtrl'
			.when '/blog',
				templateUrl: '_blog.html'
				controller: 'BlogCtrl'
			.when '/blog/:slug',
				templateUrl: '_single.html'
				controller: 'BlogSingleCtrl'
			.otherwise
				redirectTo: '/'    

angular.module 'fraseApp'
	.controller 'AppCtrl', ['$scope', '$rootScope', '$location', ($scope, $rootScope, $location) ->
		$rootScope.appUrl = 'http://fraseconteudo.com.br/'
		#$rootScope.appUrl = 'http://186.202.185.59/'
		#$rootScope.appUrl = 'http://localhost:9000/'
		#$rootScope.apiUrl = 'http://localhost:3000/'
		#$rootScope.apiUrl = 'http://186.202.185.59/'

		$location.replace()
		$rootScope.location = $location.path()

		$rootScope.location_logo = () ->
			if $scope.location.match(/curso/)
				$rootScope.logo_src = "<%= image_path('logo-cursos.png')%>"
			else
				$rootScope.logo_src = "<%= image_path('logo-frase-topo.png')%>"

		$rootScope.location_logo()

		$rootScope.change_logo = (change_to) ->
			$location.path(change_to)
			$location.replace()
			$rootScope.location = $location.path()

			$rootScope.location_logo()

		$scope.isActive = (viewLocation) ->
			active = viewLocation == $location.path()
			active
]
