<h1><%= t('.page_title') %></h1>
<div class="row">
<%= link_to t('.new'), new_talent_path, class: 'btn btn-default pull-right' %>
</div>
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.photo') %></th>
      <th><%= t('.linkedin') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @talents.each do |talent| %>
      <tr>
        <td><%= talent.name %></td>
        <td><%= talent.photo %></td>
        <td><%= talent.linkedin %></td>
        <td><%= link_to t('links.show'), talent %></td>
        <td><%= link_to t('links.edit'), edit_talent_path(talent) %></td>
        <td><%= link_to t('links.delete'), talent, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

