<%= bootstrap_form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">   
    <%= f.text_field :title %>
  </div>
  <div class="field">   
    <%= f.text_area :body, :class => "redactor", :rows => 100, :cols => 120 %>
  </div>
  <div class="field">   
    <%= f.file_field :image %>
  </div>
  <div class="field">   
    <%= f.file_field :header_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
