<h1><%= t('.page_title')%></h1>
<div class="row">
<%= link_to t('.new') , new_service_path, class: 'btn btn-default pull-right' %>
</div>
<br>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.slug') %></th>
      <th><%= t('.image') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.title %></td>
        <td><%= service.slug %></td>
        <td><%= service.image %></td>
        <td><%= link_to t('links.show'), service %></td>
        <td><%= link_to t('links.edit'), edit_service_path(service) %></td>
        <td><%= link_to t('links.destroy'), service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

