<p id="notice"><%= notice %></p>

<p>
  <strong> <%=t('.title')%>:</strong>
  <%= @service.title %>
</p>

<p>
  <strong> <%=t('.body')%>: </strong>
  <%= @service.body %>
</p>

<p>
  <strong> <%=t('.image')%>:</strong>
  <%= @service.show_thumb %>
</p>

<%= link_to t('links.edit'), edit_service_path(@service) %> |
<%= link_to t('links.back'), services_path %>
