<h1>Listing members</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.image %></td>
        <td><%= member.profile %></td>
        <td><%= link_to t('links.show'), member %></td>
        <td><%= link_to t('links.edit'), edit_member_path(member) %></td>
        <td><%= link_to t('links.destroy'), member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_member_path %>
