<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @member.image %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @member.profile %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
