<%= bootstrap_form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-5">    
    <%= f.select :course_id, options_from_collection_for_select(Course.presencial.collect, 'id',  'title'), :prompt => 'Selecione' %>
  </div>
  <div class="col-md-7">    
    <%= f.text_field :title %>
  </div>
  <div class="col-md-2">    
    <%= f.text_field :start, wrapper: {:class => 'input-group date', :id => "datetimepicker1"}, :class => 'datetimepicker', :icon => 'calendar' %>
  </div>
  <div class="col-md-2">
    <%= f.text_field :end, wrapper: {:class => 'input-group date', :id => "datetimepicker1"}, :class => 'datetimepicker', :icon => 'calendar' %>
  </div>
  <div class="col-md-2">    
    <%= f.text_field :hour %>
  </div>
  <div class="col-md-6">    
    <%= f.text_field :city %>
  </div>
  <div class="col-md-3">    
    <%= f.text_field :place %>
  </div>
  <div class="col-md-3">    
    <%= f.text_field :value, :prepend => 'R$ ', :min => 0, :step => 0.5 %>
  </div>
  <div class="col-md-3">    
    <%= f.text_field :discount, :prepend => 'R$ ', :min => 0, :step => 0.5 %>
  </div>
  <div class="col-md-3">
    <br>
    <%= f.check_box :open, label: 'Inscrições Abertas' %>
  </div>
  <div class="col-md-12">
    <%= f.submit :class => 'btn btn-primary pull-right' %>
  </div>
<% end %>
<br><br><br><br>