<h1><%= t('.page_title')%></h1>
<div class="row">
<%= link_to t('.new'), new_classroom_path, :class => 'btn btn-default pull-right' %>
</div>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%=t('.title')%></th>
      <th><%=t('.course')%></th>
      <th><%=t('.start')%></th>
      <th><%=t('.end')%></th>
      <th><%=t('.city')%></th>
      <th><%=t('.value')%></th>
      <th><%=t('.open')%></th>
      <th><%=t('.discount')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.title %></td>
        <td><%= classroom.course %></td>
        <td><%= I18n.localize(classroom.start, format: :short) %></td>
        <td><%= I18n.localize(classroom.end, format: :short) %></td>
        <td><%= classroom.city %></td>
        <td><%= classroom.value %></td>
        <td><%= classroom.open %></td>
        <td><%= classroom.discount %></td>
        <td><%= link_to t('links.show'), classroom, class: 'btn btn-sm btn-primary' %></td>
        <td><%= link_to t('links.edit'), edit_classroom_path(classroom), class: 'btn btn-sm btn-success' %></td>
        <td><%= link_to t('links.destroy'), classroom, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><br>
