<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @classroom.title %>
</p>

<p>
  <strong>Course:</strong>
  <%= @classroom.course %>
</p>

<p>
  <strong>Date:</strong>
  <%= @classroom.start %>
</p>

<p>
  <strong>Date:</strong>
  <%= @classroom.end %>
</p>

<p>
  <strong>City:</strong>
  <%= @classroom.city %>
</p>

<p>
  <strong>Value:</strong>
  <%= @classroom.value %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @classroom.discount %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
