<h1><%= t('.page_title')%></h1>

<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.name')%></th>
      <th><%= t('.nickname')%></th>        
      <th><%= t('.gender')%></th>
      <th><%= t('.email')%></th>
      <th><%= t('.phone')%></th>
      <th><%= t('.comercial_phone')%></th>
      <th><%= t('.city')%></th>
      <th><%= t('.state')%></th>
      <th><%= t('.billing_type')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.nickname %></td>        
        <td><%= student.email %></td>
        <td><%= student.phone %></td>
        <td><%= student.comercial_phone %></td>        
        <td><%= student.city %></td>
        <td><%= student.state %></td>
        <td><%= student.billing_type %></td>
        <td><%= link_to t('links.show'), student, class: 'btn btn-sm btn-primary' %></td>
        <td><%= link_to t('links.edit'), edit_student_path(student), class: 'btn btn-sm btn-success' %></td>
        <td><%= link_to t('links.destroy'), student, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
