<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @student.nickname %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @student.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @student.cpf %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @student.birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @student.occupation %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Comercial phone:</strong>
  <%= @student.comercial_phone %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @student.zipcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Number:</strong>
  <%= @student.number %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @student.complement %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @student.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @student.state %>
</p>

<p>
  <strong>Billing type:</strong>
  <%= @student.billing_type %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
