<h1><%= t('.page_title') %></h1>
<% if @user_session.errors.has_key? :base %>
	<div id="error_explanation">
		<%= @user_session.errors[:base].join(', ') %>
	</div>
<% end %>

<%= bootstrap_form_for @user_session do |f| %>
	<div class="row">
		<%= f.text_field :email %>		
	</div>

	<div class="row">
		<%= f.password_field :password %>		
	</div>
	<div class="row">
		<%= f.submit 'Entrar', class: 'btn btn-success' %>
	</div>
<% end %>