<%= bootstrap_form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">    
    <%= f.text_field :title %>
  </div>
  <div class="field">    
    <%= f.text_field :url %>
  </div>
  <div class="field">    
    <%= f.select :jobtype, [['Serviços', 'services'], ['Treinamentos', 'courses']], {prompt: 'Selecione', label: 'Selecione o Tipo:' }, { class: 'selectpicker' } %>
  </div>
  <div class="field">    
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
