<h1><%= t('.page_title') %></h1>
<div class="row">
<%= link_to t('.new'), new_job_path, class: 'btn btn-default pull-right' %>
</div>
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.type') %></th>
      <th><%= t('.client') %></th>
      <th><%= t('.need') %></th>
      <th><%= t('.solution') %></th>
      <th><%= t('.result') %></th>
      <th><%= t('.technical_form') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.type %></td>
        <td><%= job.client %></td>
        <td><%= truncate(job.need, length: 45, escape: false) %></td>
        <td><%= truncate(job.solution, length: 45, escape: false) %></td>
        <td><%= truncate(job.result, length: 45, escape: false) %></td>
        <td><%= truncate(job.technical_form, length: 45, escape: false) %></td>
        <td><%= link_to t('links.show'), job, class: 'btn btn-xs btn-primary' %></td>
        <td><%= link_to t('links.edit'), edit_job_path(job), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to t('links.destroy'), job, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
