<h1>Listing modalities</h1>
<div class="row">
<%= link_to 'New Modality', new_modality_path, class: 'btn btn-default pull-right' %>
</div>
<br><br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>About</th>
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modalities.each do |modality| %>
      <tr>
        <td><%= modality.title %></td>
        <td><%= modality.about %></td>
        <td><%= modality.info %></td>
        <td><%= link_to t('links.show'), modality, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to t('links.edit'), edit_modality_path(modality), class: 'btn btn-success btn-xs' %></td>
        <td><%= link_to t('links.destroy'), modality, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
