<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @modality.title %>
</p>

<p>
  <strong>About:</strong>
  <%= @modality.about %>
</p>

<p>
  <strong>Info:</strong>
  <%= @modality.info %>
</p>

<%= link_to 'Edit', edit_modality_path(@modality) %> |
<%= link_to 'Back', modalities_path %>
