'use strict'

###*
 # @ngdoc function
 # @name fraseApp.controller:CoursesviewCtrl
 # @description
 # # CoursesviewCtrl
 # Controller of the fraseApp
###
angular.module 'fraseApp'
  .controller 'CoursesViewCtrl', [ '$scope', 'Course', 'Classroom', 'Modality', '$resource', '$routeParams', '$rootScope', '$location', ($scope, Course, Classroom, Modality, $resource, $routeParams, $rootScope, $location) ->
	$rootScope.change_logo($location.path())
	modality = ''
	loadCourses = () ->
		MyCourse = $resource('/courses/bymodality.json', {modality: '@modality'}, {'update': {method: 'PUT'}})		
		MyCourse.query({modality: $scope.modality_id}).$promise.then (data) ->
			$scope.courses = data

	create_menu = () ->		
		switch $scope.modality.toLowerCase()
			when 'online'
				$scope.menu = [
					slug: 'curso-in-company', title: 'IN COMPANY'
				,
					slug: 'curso', title: 'PRESENCIAIS'
				]
				loadCourses()
			when 'presencial'
				$scope.menu = [
					slug: 'curso-in-company', title: 'IN COMPANY'
				,
					slug: 'cursos', title: 'ONLINE'
				]
				loadCourses()


	load = () ->
		slug = $routeParams.slug;
		Course.get({slug: slug}).$promise.then (data) ->
			if data
				$scope.course = data			
				$scope.modality = data.modality.toUpperCase()
				$scope.modality_id = data.modality_id
				create_menu()
				load_opened()
			else
				console.log 'Falha ao localizar curso!'
	load()

	Classroom.query({action: 'nextcourses'}).$promise.then (data) ->
		$scope.next_courses = data

	$scope.profile_status = 'closed'

	$scope.toggleProfile = () ->
		if $scope.profile_status == 'open'
			$scope.profile_status = 'closed'
		else
			$scope.profile_status = 'open'


	$scope.faqs = [
		question: 'Por que este curso é online?', answer: '<p>Com o curso de FORMAÇÃO EM REDAÇÃO PUBLICITÁRIA ONLINE, qualquer lugar vira sala de aula.</p><p>É um curso para quem tem pouca flexibilidade de tempo e quer se capacitar para um mercado cada vez mais competitivo.</p><p>A metodologia é voltada para a interação do aluno com o instrutor e com os demais participantes, favorecendo a agilidade, a transmissão de ideias, a análise e o feedback dos textos redigidos, por meio de diversos recursos multimídia.</p><p>As aulas são realizadas a distância. O participante, depois de inscrito, pode acessar o conteúdo através de qualquer computador com acesso à internet e realizar as tarefas de acordo com a sua disponibilidade de tempo.</p>'
	,
		question: 'A partir de quando posso me inscrever?', answer: '<p>As inscrições para o curso de Formação em Redação Publicitária online estão abertas. Veja no final da página como efetivar a sua inscrição.</p>'
	,
		question: 'Como terei acesso ao curso online?', answer: '<p>Você receberá o link e a senha para acessar a sala de aula virtual.</p>'
	,
		question: 'Quando poderei iniciar o curso?', answer: '<p>Com o link e a senha "em mãos", você poderá iniciar o curso imediatamente.</p>'
	,
		question: 'Quais são os recursos didáticos empregados nesse curso?', answer: '<p>A didática do curso é baseada em leitura de telas, análise de sites e exercícios práticos. Os participantes terão um canal específico dentro da sala de aula virtual para esclarecer dúvidas e receber feedbacks.</p>'
	,
		question: 'Avaliações', answer: '<p>O aproveitamento e o desempenho do aluno serão avaliados por meio de exercícios práticos propostos ao final de cada aula.</p><p>Além disso, a qualquer momento o aluno poderá utilizar o canal de contato com o facilitador para esclarecer possíveis dúvidas.</p><p><strong>Feeback:</strong> Os feedbacks serão realizados uma vez por semana, podendo ter alteração nas datas de envio, sem aviso prévio.</p>'	
	]
	load_opened = () ->
		Classroom.query({action: 'opened', course: $scope.course.id}).$promise.then (data) ->
			$scope.open_courses = data

	###$scope.partners = [
			title: 'ABRINQ', url:'<%=image_path("abrinq.jpg")%>'
		,
			title: 'Akzo Nobel', url:'<%=image_path("akzo-nobel.jpg")%>'
		,
			title: 'Bebelu', url:'<%=image_path("bebelu.jpg")%>'
		,
			title: 'Embraer', url:'<%=image_path("embraer.jpg")%>'
	]###

	$scope.oneAtATime = true

	$scope.status =
		isFirstOpen: true,
		isFirstDisabled: false,		
]