'use strict'

###*
 # @ngdoc function
 # @name fraseApp.controller:MainCtrl
 # @description
 # # MainCtrl
 # Controller of the fraseApp
###
angular.module 'fraseApp'
  .controller 'MainCtrl', ['$scope', '$rootScope', 'Service', 'Modality', 'Testimony', '$http', '$location',($scope, $rootScope, Service, Modality, Testimony, $http, $location) ->
	$rootScope.change_logo($location.path())
	$scope.Newsletter = {}

	$scope.addNewsletter = () ->
		$scope.Newsletter.js_id 			= '23s0f'
		$scope.Newsletter.listid 			= 2
		$scope.Newsletter.from_url 			= 'yes'
		$scope.Newsletter.hdn_email_txt 	= ''
		$scope.Newsletter.url = 'https://my.sendinblue.com/users/subscribe/js_id/23s0f/id/1'
		req = $http
			method: 'POST'
			url: $scope.Newsletter.url
			data: $scope.Newsletter
		req.then (data) ->
			console.log data
		
	$scope.services = Service.query()

	$scope.mission =
		text : 'Comunicação com propósito. Conteúdo com relevância. Criatividade inspirada em resultados.'

	Testimony.query().$promise.then (data) ->
		key = Math.floor(Math.random() * data.length)
		$scope.testimony = data[key]

	$scope.next_courses = [	
		city: 'SÃO PAULO', date: '26 E 27/SET', title: 'Intensivo de Redação publicitária'
	]

	$scope.myInterval = 5000
	all_courses = []
	Modality.query().$promise.then (data) ->
		$scope.other_courses = data
		angular.forEach data, (value, key) ->
			if value.courses.length > 0				
				angular.forEach value.courses, (v, k) ->
					v.modality_slug = value.slug
					all_courses.push(v)
	
	$scope.courses = [
		title: 'TODOS',
		courses: all_courses,
		active: true
	]
	$scope.$watch 'other_courses', () ->
		angular.forEach $scope.other_courses, (v, k) ->
			if v.courses.length > 0
				$scope.courses.push v

	console.log $scope.courses
	
	$scope.displayMode = 'mobile'
	whatDevice = $scope.nowDevice
	$scope.$watch 'displayMode', (value) ->
		switch value
			when 'mobile' then console.log value
			when 'tablet' then console.log value	
	$scope.many = 1

	$scope.displayMode = "tablet"
	if $scope.displayMode == "mobile"
		$scope.many = 1
	else if $scope.displayMode == "tablet"
		$scope.many = 2
	else
		$scope.many = 3



]
angular.module 'fraseApp'
  .directive 'dnDisplayMode', ($window) ->
	restrict: 'A',
	scope:
		dnDisplayMode: '='
	,
	template: '<span class="mobile"></span><span class="tablet"></span><span class="tablet-landscape"></span><span class="desktop"></span>',

	link: (scope, elem, attrs) ->
		markers = elem.find('span')

		isVisible = (element) ->
			return element && element.style.display != 'none' && element.offsetWidth && element.offsetHeight

		update = () ->
			angular.forEach markers, (element) ->
				if isVisible(element)
					scope.dnDisplayMode = element.className
					return false

		angular.element($window).bind 'resize', () ->
			clearTimeout(t)
			t = setTimeout () ->
				update()
				scope.$apply()
			, 300

		update()

# Step Form!
angular.module('formApp', [
  'ngAnimate'
  'ui.router'
]).config(($stateProvider, $urlRouterProvider) ->
  $stateProvider.state('form',
    url: '/cadastro-cursos'
    templateUrl: 'form.html'
    controller: 'formController').state('form.profile',
    url: '/informacoes-pessoais'
    templateUrl: 'form-profile.html').state('form.interests',
    url: '/localizacao'
    templateUrl: 'form-interests.html').state 'form.payment',
    url: '/pagamento'
    templateUrl: 'form-payment.html'
  # catch all route
  # send users to the form page
  $urlRouterProvider.otherwise '/form/profile'
  return
).controller 'formController', ($scope) ->
  # we will store all of our form data in this object
  $scope.formData = {}
  # function to process the form

  $scope.processForm = ->
    alert 'awesome!'
    return

  return
