<%= bootstrap_form_for(@header) do |f| %>
  <% if @header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@header.errors.count, "error") %> prohibited this header from being saved:</h2>

      <ul>
      <% @header.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">    
    <%= f.text_field :title %>
  </div>
  <div class="field">    
    <%= f.text_area :description, :class => 'redactor' %>
  </div>
  <div class="field">    
    <%= f.file_field :image %>
  </div>
  <div class="field">    
    <%= f.select :page, options_for_select(@pages), :prompt => 'Selecione' %>
  </div>
  <div class="field">    
    <%= f.text_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
