<h1>Listing formats</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formats.each do |format| %>
      <tr>
        <td><%= format.title %></td>
        <td><%= format.image %></td>
        <td><%= format.description %></td>
        <td><%= link_to 'Show', format %></td>
        <td><%= link_to 'Edit', edit_format_path(format) %></td>
        <td><%= link_to 'Destroy', format, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Format', new_format_path %>
