<%= bootstrap_form_for(@box) do |f| %>
  <% if @box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
      <% @box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_area :body, :class => 'redactor' %>
  </div>
  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.file_field :video %>
  </div>
  <div class="field">
    <%= f.select :page, options_for_select(@pages), :prompt => 'Selecione' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
