<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @box.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @box.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= @box.image %>
</p>

<p>
  <strong>Video:</strong>
  <%= @box.video %>
</p>

<p>
  <strong>Page:</strong>
  <%= @box.page %>
</p>

<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
