<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Video file:</strong>
  <%= @video.video_file %>
</p>

<p>
  <strong>Page:</strong>
  <%= @video.page %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
