<%= bootstrap_form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :type_id, Type.all.collect {|x| [x.title, x.id]}, :prompt => 'Selecione o tipo de trabalho' %>
  </div>
  <div class="field">    
    <%= f.text_field :title %>
  </div>
  <div class="field">    
    <%= f.file_field :image %>
  </div>
  <div class="field">    
    <%= f.text_field :video %>
  </div>
  <div class="field">    
    <%= f.text_field :client %>
  </div>
  <div class="field">    
    <%= f.text_area :need, :class => 'redactor', :rows => 100, :cols => 120 %>
  </div>
  <div class="field">    
    <%= f.text_area :solution, :class => 'redactor', :rows => 100, :cols => 120 %>
  </div>
  <div class="field">    
    <%= f.text_area :result, :class => 'redactor', :rows => 100, :cols => 120 %>
  </div>
  <div class="field">
    <%= f.text_area :technical_form, :class => 'redactor', :rows => 100, :cols => 120 %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary pull-right' %>
  </div>
<% end %>
<br><br><br><br>