<p id="notice" class="alert"><%= notice %></p>

<p>
  <strong><%= t('.title') %>:</strong>
  <%= @job.title %>
</p>

<p>
  <%= @job.show_image %>
</p>

<p>
  <strong><%= t('.client') %>:</strong>
  <%= @job.client %>
</p>

<p>
  <strong><%= t('.need') %>:</strong>
  <%= @job.need %>
</p>

<p>
  <strong><%= t('.solution') %>:</strong>
  <%= @job.solution %>
</p>

<p>
  <strong><%= t('.result') %>:</strong>
  <%= @job.result %>
</p>

<p>
  <strong><%= t('.technical_form') %>:</strong>
  <%= @job.technical_form %>
</p>

<%= link_to t('links.edit'), edit_job_path(@job) %> |
<%= link_to t('links.back'), jobs_path %>
