<h1><%=t('.page_title')%></h1>
<div class="row">
  <%= link_to t('.new'), new_customer_path, class: 'btn btn-primary pull-right' %>
</div>
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.jobtype') %></th>
      <th><%= t('.url') %></th>
      <th><%= t('.image') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.title %></td>
        <td><%= customer.jobtype %></td>
        <td><%= customer.url %></td>
        <td><%= customer.image %></td>
        <td><%= link_to t('links.show'), customer %></td>
        <td><%= link_to t('links.edit'), edit_customer_path(customer) %></td>
        <td><%= link_to t('links.delete'), customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

