<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.title') %></strong>
  <%= @customer.title %>
</p>

<p>
  <strong><%= t('.url') %></strong>
  <%= @customer.url %>
</p>

<p>
  <strong><%= t('.jobtype') %></strong>
  <%= @customer.jobtype %>
</p>

<p>
  <strong><%= t('.image') %></strong>
  <%= @customer.show_image %>
</p>

<%= link_to t('links.edit'), edit_customer_path(@customer) %> |
<%= link_to t('links.back'), customers_path %>
