<%= bootstrap_form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> 
    <%= f.text_field :title %>
  </div>
  <div class="field">    
    <%= f.file_field :thumbnail %>
  </div>
  <div class="field">    
    <%= f.select :category_id, options_from_collection_for_select(Category.all.collect, 'id', 'title'), :prompt => 'Categoria' %>
  </div>
  <div class="field">    
    <%= f.text_area :body, :class => 'redactor', :rows => 100, :cols => 120  %>
  </div>
  <div class="field">    
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">    
    <%= f.select :status, [['Publicado', 'publish'], ['Rascunho', 'draft']], { label: 'Selecione o Status:' }, { class: 'selectpicker' } %>    
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary pull-right'%>
  </div>
<% end %>
