<h1>Listing posts</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.thumbnail') %></th>
      <th><%= t('.body') %></th>
      <th><%= t('.slug') %></th>
      <th><%= t('.user_id') %></th>
      <th><%= t('.status') %></th>
      <th><%= t('.date') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.thumbnail %></td>
        <td><%= post.the_excerpt %></td>
        <td><%= post.slug %></td>
        <td><%= post.username %></td>
        <td><%= post.status %></td>
        <td><%= post.date %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
