<header id="MediaBox" style="background:url({{apiUrl + header[0].image.image.header.url}}) no-repeat center center;" class="page col-md-12 col-sm-12.col-xs-12">
	<div class="container">
		<h1 class="page-title">A Frase</h1>
	</div>
</header>
<div class="container">
	<div class="row">
		<aside id="SideBar" class="col-md-3 col-sm-4 col-xs-4 empresa">
			<div class="row">
				<img src="images/logo-cursos.png" class="logo-courses" alt="Frase  - Cursos">
			</div>
		</aside>
		<section id="MainContent" class="col-md-9 col-sm-8 col-xs-8">
			<p>O Ateliê e Letras Redação Estratégica foi criada em 2004 com propósito bem definido: ajudar empresas e pessoas e alcançarem resultados efetivos diante do público-alvo de suas mensagens escrítas, sonoras ou audiovisuais.</p>
			<p>Por meio de serviços de elaboração de conteúdos corporativos, mercadológicos e educativos, e da realização de treinamentos abertos, online e in company, nossa empresa conquistou um importante reconhecimento no mercado em que atuamos.</p>
			<p>Reflexo disso é o nosso privilegiado portfólio, que não para de crescer, assim como o número de participantes de nossos cursos.</p>
			<p>A razão de tudo o que alcançamos até aqui é simples: somos apaixonados pelo que fazemos e usamos isso como "combustível" em nossa busca diária por mais conhecimento mais qualidade e novas idéias.</p>
			<h4>Quem costuma contar com as nossas soluções</h4>
			<p>
				Departamentos de comunicação e marketing de empresas públicas e privadas.<br>
				Produtoras de vídeo<br>
				Agências digitais<br>
				Estúdio de Design<br>
				Produtoras de Eventos<br>
				Produtoras de Áudio<br>
				Agências de publicidade e comunicação integrada<br>
				Profissionais, autônomos e universitários em busca de capacitação
			</p>
		</section>
	</div>
</div>
<div class="row dotted">
		<section id="TeamBox">
			<div class="container">
				<h4 class="team-title">Equipe</h4>
				<div class="row">
					<div class="team-member col-md-3 col-sm-6 col-xs-12" ng-repeat="member in members" ng-click="showProfile(member.id)">
						<img ng-src="{{apiUrl + member.thumb_url}}" alt="{{member.name}}">
						<figcaption>{{member.name}}</figcaption>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="member-profile col-md-12 col-xs-12 col-sm-12" ng-repeat="member in members" id="prof-{{member.id}}" ng-show="activeProfile == member.id">
						<span class="pointer-profile" ng-class="pointerPosition(member.id)"><img src="images/bg-profile-blue.png" alt=""></span>
						<div class="text" ng-bind-html="member.raw_profile">
						</div>
					</div>
				</div>
			</div>
		</section>
</div>
<mission-box></mission-box>
<values-box></values-box>
<br>
