<header id="MediaBox" class="talents col-md-12 col-sm-12 col-xs-12" style="background: url(images/mediabox01.jpg) no-repeat;">
<div class="container">
  <h1 class="page-title">BANCO DE TALENTOS</h1>
</div>
</header>
<div class="container" ng-controller="TalentsCtrl">
  <div id="Talents" class="row">
    <p><a ng-href="#/" class="back pull-right"><img src="images/arrow-yellow.png" alt=""> VOLTAR</a></p>
    <br>
    <tabset>
      <tab ng-repeat="cat in categories" heading="{{cat.category}}">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4" ng-repeat="talent in cat.talents">
          <figure class="talent">
            <img ng-src="{{talent.image}}" alt="{{talent.name}}">
            <figcaption>{{talent.name}}</figcaption>
          </figure>
          <a ng-href="{{talent.link}}" class="link-portfolio pull-right">Portfólio <i class="icon-linkedin"></i></a>
        </div>
      </tab>
    </tabset>
  </div>
</div>
