<header id="MediaBox" class="blog col-md-12 col-sm-12 col-xs-12" style="background:url({{apiUrl + header[0].image.image.header.url}}) no-repeat;">
	<div class="container">
		<h1 class="page-title">BLOG</h1>
	</div>
</header>
<div id="Blog" class="container" ng-controller="BlogCtrl">
	<div class="row">
		<div id="MainContent" class="col-lg-8 col-md-8">
				<div class="post" ng-repeat="post in posts">
					<figure class="col-lg-12 col-md-12 col-sm-12">
						<a ng-href="{{post.url}}"><img ng-src="{{post.image}}" alt="{{post.title}}"></a>
					</figure>
					<div class="col-lg-12 col-md-12 col sm-12 postdate dotted">
						<span class="pull-right">{{post.date | date: "dd.MM.yy"}}</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12">
						<h2 class="posttitle"><a ng-href="{{post.url}}">{{post.title}}</a></h2>
						<div class="content" ng-bind-html="post.content"></div>
					</div>
					<hr>
					<div class="col-md-12 col-sm-12 col-xs-12 categories">
						<strong>Categorias:</strong>
						<a ng-repeat="pc in post.categories" ng-href="{{pc.url}}">{{pc.title}}{{$last ? '' : ', '}}</a> 
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 tags">
						<strong>Tags:</strong>
						<a ng-repeat="tg in post.tags" ng-href="{{tg.url}}">{{tg.title}}{{$last ? '' : ', '}}</a>
					</div>
					<div class="row">
						<div class="postshare col-lg-12 col-md-12">
							<nav class="container">
								<ul class="nav navbar-nav">
									<li><a ng-href="{{post.social.facebook}}"><img src="images/icon-fb.png" alt="Facebook"></a></li>
									<li><a ng-href="{{post.social.youtube}}"><img src="images/icon-yt.png" alt="YouTube"></a></li>
									<li><a ng-href="{{post.social.google}}"><img src="images/icon-gp.png" alt="Google Plus"></a></li>
									<li><a ng-href="{{post.social.twitter}}"><img src="images/icon-tw.png" alt="Twitter"></a></li>
									<li><a ng-href="{{post.social.linkedin}}"><img src="images/icon-in.png" alt="LinkedIn"></a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div><!--.post-->
			</div><!--#MainContent-->
			<aside class="col-lg-4 col-md-4">
				<sidebar-blog></sidebar-blog>
			</aside>
	</div>
	<div class="row">
		<pagination total-items="totalItems" ng-model="currentPage" previous-text="Anterior" next-text="Próximo" ng-change="pageChanged()"></pagination>
	</div>
</div>
