<header id="MediaBox" class="courses col-md-12 col-sm-12 col-xs-12" style="background:url(images/mediabox01.jpg) no-repeat;">
  <div class="container">
    <h1 class="page-title">CURSOS</h1>
  </div>
</header>
<div id="Courses" class="container" ng-controller="SubscriptionsCtrl">
  <h2 class="content-title">Formulário de inscrição</h2>
    <form-inscricao></form-inscricao>
    <br><br>
</div>
