<header id="MediaBox" class="courses col-md-12 col-sm-12 col-xs-12" style="background:url({{apiUrl + course.header_url}}) no-repeat;">
  <div class="container">
    <h1 class="page-title">CURSOS</h1>
  </div>
</header>
<div id="Courses" class="container online">
  <h2 class="content-title">{{course.title}} <a href="#/inscrever-se" class="btn btn-default pull-right">INSCREVER-SE</a></h2>
  <aside id="SideBar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
      <nav class="courses-nav">
        <ul>
          <li><a href="#/curso-in-company">IN COMPANY</a></li>
          <li><a href="#/curso-presencial">PRESENCIAIS</a></li>
        </ul>
        <ul>
          <li class="depoimento"><a href="#/depoimentos">DEPOIMENTOS</a></li>
          <li class="banco-talento"><a href="#/banco-de-talentos">BANCO DE TALENTOS</a></li>
        </ul>
      </nav>
  </aside>
  <div id="MainContent" class="col-lg-8 col-md-8">
    <h4 class="subtitle">INTRODUÇÃO</h4>
      <div ng-bind-html="course.introduction"></div>
    <h4 class="subtitle">OBJETIVOS</h4>
    <div ng-bind-html="course.purpose"></div>

    <h4 class="subtitle">SOBRE O CURSO</h4>
    <div ng-bind-html="course.about"></div>
    <h5>Formato do curso</h5>
    <p>
      <strong>Carga horária:</strong> {{course.workload}}<br>
      <strong>Número de aulas:</strong> {{course.lessons}}<br>
      <strong>Recursos didáticos:</strong> {{course.ditatic_resources}}<br>
      <strong>Feedback e avaliação:</strong> {{course.feedback}}
    </p>
    <h4 class="subtitle">FACILITADOR</h4>
    <div ng-bind-html="course.member"></div>
    <h4 class="subtitle">INVESTIMENTO</h4>
    <h4>{{course.value}}</h4>
    <div ng-bind-html="course.value_observations"></div>
    <h4 class="subtitle">DESCONTO</h4>
    <h4>{{course.discount}}</h4>
    <div ng-bind-html="course.discount_observations"></div>
    <h4 class="important">Importante</h4>
    <div ng-bind-html="course.important_note"></div>
    <h4 class="subtitle">FORMAS DE PAGAMENTO</h4>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h5>Cartão de crédito</h5>
      <ul class="pull-left">
        <li>01 x R$ 310,00</li>
        <li>02 x R$ 159,63</li>
        <li>03 x R$ 107,48</li>
        <li>04 x R$ 81,39</li>
        <li>05 x R$ 65,35</li>
        <li>06 x R$ 55,33</li>
      </ul>
      <ul class="pull-left">
        <li>07 x R$ 47,88</li>
        <li>08 x R$ 42,30</li>
        <li>09 x R$ 37,96</li>
        <li>10 x R$ 34,49</li>
        <li>11 x R$ 31,96</li>
        <li>12 x R$ 29,30</li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <img src="images/pagseguro.jpg" alt="Pag Seguro">
    </div>
    <div class="row">
      <button class="btn btn-success col-md-12 inscreva-se">INSCREVER-SE</button>
    </div>
    <div class="row questions">
      <h4 class="subtitle">PERGUNTAS FREQUENTES</h4>
      <accordion close-others="oneAtATime">
        <accordion-group class="question" is-open="q.open" ng-repeat="q in faqs">
          <accordion-heading>
            {{q.question}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': q.open, 'glyphicon-chevron-right': !q.open}"></i>
          </accordion-heading>
          {{q.answer}}
        </accordion-group>
    </div>
  </div>
</div>
  <div class="row"><br></div>
