<header id="MediaBox" class="courses col-md-12 col-sm-12 col-xs-12" style="background:url(images/mediabox01.jpg) no-repeat;">
  <div class="container">
    <h1 class="page-title">Cursos</h1>
  </div>
</header>
<div class="container" ng-controller="CoursesCtrl">
  <div class="row">
    <div id="MainContent">
      <div id="Courses">
        <tabset>
          <tab ng-repeat="mod in modalities" heading="{{mod.title}}">
          <figure ng-repeat="course in mod.courses" class="col-md-4 col-sm-3 col-xs-6 course">
            <a ng-href="{{course.url}}"><img alt="{{course.title}}" ng-src="{{apiUrl + course.thumbnail.thumb.url}}"></a>
            <figcaption><a ng-href="#/cursos/{{course.slug}}">{{course.title}}</a></figcaption>
          </figure>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
