<header id="MediaBox" class="courses col-md-12 col-sm-12 col-xs-12" style="background:url(assets/mediabox01.jpg) no-repeat;">
  <div class="container">
    <h1 class="page-title">CURSOS</h1>
  </div>
</header>
<div id="Courses" class="container" ng-controller="CoursesViewCtrl">
  <h2 class="content-title">Curso de redação publicitária <a href="#/inscrever-se" class="btn btn-default pull-right">INSCREVER-SE</a></h2>
  <aside id="SideBar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
      <nav class="courses-nav">
        <ul>
          <li><a href="#/curso-online">ON LINE</a></li>
          <li><a href="#/curso-in-company">IN COMPANY</a></li>
        </ul>
        <ul>
          <li class="depoimento"><a href="#/depoimentos">DEPOIMENTOS</a></li>
          <li class="banco-talento"><a href="#/banco-de-talentos">BANCO DE TALENTOS</a></li>
        </ul>
      </nav>
  </aside>
  <div id="MainContent" class="col-lg-8 col-md-8">
    <div id="NextCourses" class="col-lg-12 col-md-12 col-sm-12">
    <h4 class="subtitle">PRÓXIMOS CURSOS</h4>
    <ul>
      <li ng-repeat="nc in next_courses">
        <a ng-href="{{nc.url}}">
          <strong>{{nc.city}} {{nc.date}}</strong>
          <br>
          <span>{{nc.title}}</span>
        </a>
      </li>
    </ul>
    </div>

    <h4 class="subtitle">OBJETIVOS</h4>
    <p>Oferecer recursos voltados ao desenvolvimento de habilidade essenciais para quem redige textos para publicidade e outras ações de marketing</p>

    <h4 class="subtitle">SOBRE O CURSO</h4>
    <h5>Programa</h5>
    <ol>
      <li>Percepção: um ingrediente fundamental.</li>
      <li>Conhecendo o processo criativo.</li>
      <li>Persuasão: conceito, estrutura e técnicas.</li>
      <li>Como se comunicar com públicos diferentes?</li>
    </ol>
    <h5>Formato do curso</h5>
    <p>
      <strong>Carga horária:</strong> 16 horas <br>
      <strong>Número de aulas:</strong> 9 aulas <br>
      <strong>Recursos didáticos utilizados:</strong> exposições em vídeo, leitura de telas, análise de conteúdo, apresentação de cases, exercícios práticos.<br> Esclarecimento de duvidas os participantes terão um link dentro da sala de aula virtual para esclarecer dúvidas.<br>
      <strong>Feedback e avaliação:</strong> Os feedbacks serão realizados uma vez por semana, podendo ter alterações nas datas de envio sme aviso prévio.
    </p>
    <h4 class="subtitle">FACILITADOR</h4>
    <div class="teacher-profile row">
      <figure class="col-md-3 col-sm-3 col-xs-4">
        <img src="assets/rodolfo.jpg" alt="Rodolfo Dantas">
      </figure>
      <div class="col-md-9 col-sm-9 col-xs-8">
        <h5>Rodolfo Dantas</h5>
        <p>Especialista em Redação Publicitária e Estratégica, Mestre em Comunicação Social na área de Propaganda e Marketing.</p>
        <a ng-click="moreProfile()" class="more pull-right"><img src="assets/more-down-white.jpg" alt="Ver perfil"></a>
      </div>
    </div>
    <h4 class="subtitle">INVESTIMENTO</h4>
    <h4>R$ 810,00</h4>
    <p>(com 5% de desconto a vista ou parcelado* em até 12 vezes)</p>
    <h4>R$ 769,50</h4>
    <p>valor com desconto a vista</p>
    <p><i>inclui juros da operadora</i></p>
    
    <h4 class="important">Importante</h4>
    <p>
      - A confirmação do pagamento é realizada em até 3 dias úteis<br>
      - O envio do login e senha será em até 48 horas após a confirmação do pagamento
    </p>
    <div id="CourseSubscriptions">
      <h4 class="subtitle">INSCRIÇÕES ABERTAS</h4>
      <div class="subscription" ng-repeat="sb in open_courses">
        <strong>{{sb.city}} {{sb.date}}</strong>
        <a href="{{sb.url}}" class="btn btn-success pull-right">INSCREVER-SE</a>
        <strong>Horário:</strong> {{sb.time}} <br>
        <strong>Local:</strong> {{sb.place}} <br>        
      </div>
    </div>
    <h4 class="subtitle">PARCERIAS</h4>
    <figure ng-repeat="part in partners" class="col-md-3 col-sm-4 col-xs-6">
      <img src="{{part.url}}" alt="{{part.title}}">
    </figure>
  </div>
</div>
  <div class="row"><br></div>
