<header id="MediaBox" class="courses col-md-12 col-sm-12 col-xs-12" style="background:url(images/mediabox01.jpg) no-repeat;">
  <div class="container">
    <h1 class="page-title">CURSOS</h1>
  </div>
</header>
<div id="Courses" class="container" ng-controller="CoursesCtrl">
  <h2 class="content-title">Cursos In Company</h2>
  <aside id="SideBar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
      <nav class="courses-nav">
        <ul>
          <li><a href="#/curso-online">ONLINE</a></li>
          <li><a href="#/curso-presencial">PRESENCIAIS</a></li>
        </ul>
        <ul>
          <li class="depoimento"><a href="#/depoimentos">DEPOIMENTOS</a></li>
          <li class="banco-talento"><a href="#/banco-de-talentos">BANCO DE TALENTOS</a></li>
        </ul>
      </nav>
  </aside>
  <div id="MainContent" class="col-lg-8 col-md-8">
    <h4 class="subtitle">SOBRE OS CURSOS</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sollicitudin sit amet tellus eu pharetra. Fusce sed felis nunc. Ut lobortis, lacus eget blandit consectetur, lacus lorem tincidunt elit, eget faucibus orci lacus eget dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed dictum nisl lacus, eget sollicitudin justo feugiat sed. Sed nec commodo erat, a rhoncus nibh. Pellentesque tincidunt justo sit amet sollicitudin viverra. Curabitur pellentesque eleifend nunc, ac posuere est imperdiet ut. Vestibulum sed ligula quis nunc blandit lacinia. Curabitur vitae orci id enim mattis luctus vel id ipsum. Ut luctus tempus enim, ac egestas sapien. Quisque sollicitudin lobortis ex at porttitor. Duis pharetra interdum erat eu iaculis. Quisque facilisis tortor id finibus commodo. Vivamus elementum nisi a lectus lobortis, quis egestas erat tempus.</p>

    <h4 class="subtitle">INFORMAÇÕES</h4>
    <p>Se sua empresa tem interesse  em contratar algum serviço entre em contato pelo telefone (12) 3204.4599 ou preencha o formulário que retornaremos em breve.</p>
    <form name="ContactService" method="post">
    <p class="alert-danger">*Campos de preenchimento obrigatório</p>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="*Nome">
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <input type="text" name="company" class="form-control" placeholder="*Empresa">
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <input type="text" name="cargo" class="form-control" placeholder="Cargo">
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <input type="email" name="email" class="form-control" placeholder="*E-mail">
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <input type="url" name="site" class="form-control" placeholder="Site">
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <input type="text" name="phone1" class="form-control" placeholder="*Telefone 1">
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <input type="text" name="phone2" class="form-control" placeholder="*Telefone 2">
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <textarea name="information" cols="30" rows="10" class="form-control"></textarea>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <select name="how-met" class="form-control">
            <option value="">Como nos conheceu?</option>
            <option value="Amigos">Indicação de amigos</option>
            <option value="Google">Google</option>
            <option value="Facebook">Facebook</option>
            <option value="Youtube">Youtube</option>
            <option value="Site">Site</option>
          </select>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <label for="">Deseja receber nossa newsletter?</label><br>
          <input type="radio" name="news" value="1"> Sim <input type="radio" name="news" value="0"> Não
        </div>
        <div class="form-group">
          <label for="">Deseja receber uma cópia deste formulário no seu e-mail?</label><br>
          <input type="radio" name="copy" value="1"> Sim <input type="radio" name="copy" value="0"> Não
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <button type="submit" class="btn btn-success">ENVIAR</button>
        <button type="reset" class="btn btn-default">LIMPAR</button>
      </div>
    </form>
  </div>
</div>
  <div class="row"><br></div>
