<header id="MediaBox" class="testimonies col-md-12 col-sm-12 col-xs-12" style="background:url(../assets/mediabox01.jpg) no-repeat;">
<div class="container">
	<h1 class="page-title">DEPOIMENTOS</h1>
</div>
</header>
<div class="container" ng-controller="TestimoniesCtrl">
	<div id="Testimonies">
		<div class="row">
			<p><a href="#/" class="back pull-right"><img src="assets/arrow-yellow.png" alt="Voltar"> VOLTAR</a></p>
			<br>
		</div>
		<div class="row">
			<div class="testimony" ng-repeat="testimony in testimonies" ng-class-even="'yellow-bg'">
				<div class="col-md-1 col-sm-1 col-lg-1">
					<span class="open-quote"></span>
				</div>
				<div class="col-md-9 col-sm-9 col-lg-9">
					<p>{{testimony.text}}</p>
				</div>
				<div class="col-md-1 col-sm-1 col-lg-1">
					<span class="close-quote"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<pagination total-items="totalItems" ng-model="currentPage" previous-text="Anterior" next-text="Próximo" ng-change="pageChanged()"></pagination>
		</div>
	</div>
</div>
