<div id="StepsButtons">
	<a ng-click="selectStep(1)" ng-class="(step == 1) ? 'active' : ''"><span>1º</span> Dados Pessoais</a>
	<a ng-click="selectStep(2)" ng-class="(step == 2) ? 'active' : ''"><span>2º</span> Localização</a>
	<a ng-click="selectStep(3)" ng-class="(step == 3) ? 'active' : ''"><span>3º</span> Pagamento</a>
</div>
<form id="CourseSubscription" class="form-vertical cadastro-cursos" name="CourseSubscription" ng-submit="processForm()">
		<div id="SelectedCourse">
			<h4 class="subtitle">CURSO SELECIONADO</h4>
			<input type="hidden" ng-model="course.id">
			<p>
				<strong>{{course.city}} <time>{{course.date}}</time> - {{course.title}}</strong>
			</p>
			<br>
			<div class="pull-right">
				<span>Valor integral: {{course.full_value | currency}} </span><br>
				<span>Valor com desconto: {{course.discount_value | currency}}</span>
			</div>
		</div>
		<fieldset ng-show="step == 1">
			<h4 class="subtitle">DADOS PESSOAIS</h4>
			<p class="alert">* Campos de preenchimento obrigatório</p>
			<div class="form-group col-md-12">
				<input type="text" class="form-control" placeholder="*Nome completo">
			</div>
			<div class="form-group col-md-12">
				<input type="text" class="form-control" placeholder="*Como prefere ser chamado">
			</div>
			<div class="form-group col-md-6">
				<input type="text" class="form-control" placeholder="*RG">
			</div>
			<div class="form-group col-md-6">
				<input type="text" class="form-control" placeholder="*CPF">
			</div>
			<div class="form-group col-md-6">
				<input type="text" class="form-control" placeholder="*Data de nascimento">
			</div>
			<div class="form-group col-md-6">
				<select name="sexo" class="form-control">
					<option value="">*Sexo</option>
					<option value="m">Masculino</option>
					<option value="f">Feminino</option>
				</select>
			</div>
			<div class="form-group col-md-12">
				<input type="text" class="form-control" placeholder="*Profissão">
			</div>
			<div class="form-group col-md-12">
				<input type="email" class="form-control" placeholder="*Email">
			</div>
			<div class="form-group col-md-6">
				<input type="text" class="form-control" placeholder="*Telefone pessoal">
			</div>
			<div class="form-group col-md-6">
				<input type="text" class="form-control" placeholder="*Telefone comercial">
			</div>
			<br><br><br>
			<button class="btn btn-success pull-right" ng-click="nextStep()">Avançar</button>
		</fieldset>
		<fieldset ng-show="step == 2">
			<h4 class="subtitle">ENDEREÇO</h4>
			<div class="form-group col-md-12">
				<input type="text" class="form-control" placeholder="*CEP">
			</div>
			<div class="form-group col-md-12">
				<input type="text" class="form-control" placeholder="*Endereço">
			</div>
			<div class="form-group col-md-6">
				<input type="text" class="form-control" placeholder="*Número">
			</div>
			<div class="form-group col-md-6">
				<input type="text" class="form-control" placeholder="Complemento">
			</div>
			<div class="form-group col-md-6">
				<input type="text" class="form-control" placeholder="*Bairro">
			</div>
			<div class="form-group col-md-6">
				<input type="text" class="form-control" placeholder="*Cidade">
			</div>
			<div class="form-group col-md-12">
				<select name="state" id="state" class="form-control">
					<option value="">*Estado</option>
				</select>
			</div>
			<br><br><br>
			<button class="btn btn-success pull-right" ng-click="nextStep()">Avançar</button>
		</fieldset>
		<fieldset ng-show="step == 3">
			<h4 class="subtitle">PAGAMENTO</h4>
			<div class="form-group">
				<label for="">O faturamento será para pessoa jurídica?</label><br>
				<input type="radio" class="pull-right" name="entity" value="1"> Sim <br><input type="radio" class="pull-right" name="entity" value="2"> Não
			</div>
			<button class="btn btn-success pull-right" ng-click="saveSubscription()">Concluir</button>
		</fieldset>
</form>

