<header id="MediaBox" class="home col-md-12 col-sm-12 col-xs-12" style="background:url(assets/mediabox01.jpg) center center no-repeat;">

</header>
<div class="bg">
	<div class="container">
		<aside id="HomeServices" class="col-md-3 col-sm-4 col-xs-12">
			<h2 class="box-title">Serviços</h2>
			<ul class="nav">
				<li ng-repeat="sv in services"><a ng-href="#/servicos/{{sv.slug}}">{{sv.title}}</a></li>
			</ul>
			<div id="NewsletterBox" class="col.md-12.col-sm-12 hidden-xs">
				<h3 class="subtitle">NEWSLETTER</h3><br>
				<input type="text" class="form-control" ng-model="Newsletter.name" name="name" id="name" placeholder="Seu nome">
				<input type="email" class="form-control" ng-model="Newsletter.email" name="email" id="email" placeholder="Seu e-mail">
				<button ng-click="addNewsletter()">Enviar</button>
			</div>
		</aside>

		<aside id="HomeCourses" class="col-md-9 col-sm-8 col-xs-12">
			<h2 class="box-title">Cursos</h2>
			<div class="row courses-list">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<span class="col-md-4 col-sm-4 col-xs-4">
						<a ng-href="#/curso-online"><img src="assets/icon-online.png" alt="Cursos Online"></a>
					</span>
					<span class="col-md-4 col-sm-4 col-xs-4">
						<a ng-href="#/curso-presencial"><img src="assets/icon-presencial.png" alt="Cursos Presenciais"></a>
					</span>
					<span class="col-md-4 col-sm-4 col-xs-4">
						<a ng-href="#/curso-in-company"><img src="assets/icon-incompany.png" alt="Cursos In Company"></a>
					</span>
				</div>
			</div>
			<div id="NextCourses" class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h3 class="subtitle">Próximos Cursos</h3>
					<ul class="next-courses">
						<li ng-repeat="nxc in next_courses"><strong>{{nxc.city}}</strong> {{nxc.date}} - {{nxc.title}}</li>
					</ul>
				</div>
			</div>
			<hr class="white">
			<div id="Testimonies">
				<div class="testimony yellow-bg">
					<div class="col-md-1 col-sm-1 col-lg-1">
						<span class="open-quote"></span>
					</div>
					<div class="col-md-9 col-sm-9 col-lg-9">
						<p>{{testimony.text}}</p>
					</div>
					<div class="col-md-1 col-sm-1 col-lg-1">
						<span class="close-quote"></span>
					</div>
				</div>
				<a ng-href="#/depoimentos" class="btn-testimony pull-right"><img src="assets/plus-button.png" alt="Depoimentos" class="plus-button"> depoimentos</a>
			</div>
		</aside>
	</div>
</div>

<mission-box></mission-box>

<div class="container">
	<div id="ShowCourses">
		<h2 class="box-title">Cursos</h2>
		<div class="display-mode" dn-display-mode="displayMode"></div>
		<tabset>    
			<tab ng-repeat="course in courses" heading="{{course.type}}">
			<div class="carousel"  style="height: 210px">
				<carousel interval="myInterval">
					<slide ng-repeat="slide in course.slides" active="slide.active">
						<div class="course col-md-4 col-sm-4 col-xs-12">
							<img ng-src="{{slide.image2.image}}" style="margin:auto;">
							<div class="carousel-caption">
								<p>{{slide.image2.title}}</p>
							</div>
						</div>
						<div class="course col-md-4 col-sm-4 col-xs-12">
							<img ng-src="{{slide.image2.image}}" style="margin:auto;">
							<div class="carousel-caption">
								<p>{{slide.image2.title}}</p>
							</div>
						</div>
						<div class="course col-md-4 col-sm-4 col-xs-12">
							<img ng-src="{{slide.image3.image}}" style="margin:auto;">
							<div class="carousel-caption">
								<p>{{slide.image3.title}}</p>
							</div>
						</div>
					</slide>
				</carousel>
				<img src="assets/bt-course-prev.png" alt="" ng-click="prev()" class="arrow left">
				<img src="assets/bt-course-next.png" alt="" ng-click="next()" class="arrow right">
			</div>
			</tab>
		</tabset>
	</div>
</div>