<div id="MissionBox" class="col-md-12 col-sm-12 col-xs-12">
		<covervid class="covervid-video" height="560" width="1960" autoplay loop poster="assets/mediabox01.jpg">
	        <source src="assets/contra_baixo.webm" type="video/webm">
	        <source src="assets/contra_baixo.mp4" type="video/mp4">
	    </covervid> 
	<div class="aspas-left"><img src="assets/aspas_left.png" alt=""></div>
	<div class="cover container">
		<h4 class="mission-title">Nossa Missão</h4>				
		<div class="col-md-1 col-sm-1">
			<img src="assets/mission-quote-open.png" alt="Missão">
		</div>
		<div class="col-md-10 col-sm-10">
			<p class="mission-text">{{mission.text}}</p>
		</div>
		<div class="col-md-1 col-sm-1">
			<img src="assets/mission-quote-close.png" alt="Missão">
		</div>
	</div>
	<div class="aspas-right"><img src="assets/aspas_right.png" alt=""></div>
</div>