<header id="MediaBox" style="background:url({{apiUrl + header[0].image.image.header.url}}) no-repeat;" class="page col-md-12 col-sm-12.col-xs-12">
	<div class="container">
		<h1 class="page-title">Cases</h1>
	</div>
</header>
<div class="container">
	<div class="row">
		<div id="MainContent">
			<div id="Jobs">
				<tabset>    
						<tab ng-repeat="type in types" heading="{{type.title}}">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<br>
								<div class="job" ng-repeat="j in type.jobs">									
									<figcaption><a ng-href="#/portfolio/{{j.slug}}">{{j.title}}</a></figcaption>
									<figure>
										<a ng-href="#/portfolio/{{j.slug}}"><img ng-src="{{apiUrl + j.image.thumb.url}}" alt="{{j.title}}"></a>
									</figure>
								</div>
								<br>
							</div>
						</tab>
				</tabset>
			</div>
		</div>
	</div>
	<div class="row"><br></div>
</div>
