<header id="MediaBox" style="background:url(images/mediabox01.jpg) no-repeat;" class="page col-md-12 col-sm-12.col-xs-12">
  <div class="container">
    <h1 class="page-title">Portfolio</h1>
  </div>
</header>
<div id="Jobs" class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <br>
      <a ng-href="#/portfolio" class="col-md-offset-9 back"><img src="images/arrow-back-red.png" alt="Voltar"> VOLTAR</a>
      <br>
      <figcaption class="title-post">{{job.title}}</figcaption>
      <div ng-if="job.video" anguvideo ng-model="job.video" width="635" height="400"></div>
      <figure ng-if="!job.video" class="job-thumb">
        <img ng-src="{{apiUrl + job.picture_url}}" alt="Titulo do post" class="thumb">
      </figure>
      <p><span class="subtitle">CLIENTE:</span> {{job.client}}</p>
      <br>
      <p><span class="red">NECESSIDADE:</span>
      <span ng-bind-html="job.need"></span>
      </p>

      <p><span class="red">SOLUÇÃO:</span>
      <span ng-bind-html="job.solution"></span>
      </p>
      <p><span class="red">RESULTADO:</span>
      <span ng-bind-html="job.result"></span>
      </p>

      <p><span class="red">CRÉDITOS:</span>
      <span ng-bind-html="job.technical_form"></span>
      </p>
    </div>
  </div>
  <div class="row">
    <h3 class="subtitle">MAIS PORTIFOLIO</h3>
    <br>
    <div class="col-lg-12">
      <figure class="job col-lg-3 col-md-3 col-sm-6 col-xs-6" ng-repeat="j in jobs">
        <img ng-src="{{j.image}}" alt="{{j.title}}" />
        <figcaption>{{j.title}}</figcaption>
      </figure>
    </div>
  </div>
</div>
