<header id="MediaBox" style="background:url({{apiUrl + header[0].image.image.header.url}}) no-repeat center center;" class="page col-md-12 col-sm-12.col-xs-12">
  <div class="container">
    <h1 class="page-title">Quem atendemos</h1>
  </div>
</header>
<div class="container">
  <section id="MainContent" class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4" ng-repeat="c in customers | filter:{jobtype: 'Serviços'}">
        <img ng-src="{{apiUrl + c.image.image.thumb.url}}" alt="{{c.title}}" class="logo-client colorfull-hover">
      </div>
  </section>
</div>
<div class="container">
  <div class="pontilhado"></div>
  <section id="MainContent" class="col-md-12 col-sm-12 col-xs-12">
  	  <h2 class="page-title yellow">Treinamentos</h2>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4" ng-repeat="c in customers | filter:{jobtype: 'Treinamentos'}">
        <img ng-src="{{apiUrl + c.image.image.thumb.url}}" alt="{{c.title}}" class="logo-client colorfull-hover">
      </div>
  </section>
</div>
