<header id="MediaBox" class="services col-md-12 col-sm-12 col-xs-12" style="background:url(images/mediabox01.jpg) no-repeat;">
<div class="container">
  <h1 class="page-title">Serviços</h1>
</div>
</header>
<div class="container" ng-controller="ServicesCtrl">
    <div class="row">
      <div id="MainContent">
        <div id="Services">
          <figure class="service col-md-4 col-sm-3 col-xs-6" ng-repeat="service in services">
            <div class="hover-img"><img src="images/search.png" alt=""></div>
            <a ng-href="#/servicos/{{service.slug}}"><img src="{{apiUrl + service.thumb_url}}" alt="{{service.title}}"></a>
            <figcaption><a ng-href="#/servicos/{{service.slug}}">{{service.title}}</a></figcaption>
          </figure>
        </div>
      </div>
    </div>
</div>
