<div id="BlogSidebar">
  <div id="NextCourses" class="col-lg-12 col-md-12 col-sm-12">
  <h4 class="subtitle">PRÓXIMOS CURSOS</h4>
  <ul>
    <li ng-repeat="nc in next_courses">
      <a ng-href="{{nc.url}}">
        <strong>{{nc.city}} {{nc.date}}</strong>
        <br>
        <span>{{nc.title}}</span>
      </a>
    </li>
  </ul>
  </div>
  <div id="BlogRecents" class="col-lg-12 col-md-12 col-sm-12">
  <h4 class="subtitle">MAIS RECENTES</h4>
  <ul>
    <li ng-repeat="p in recent_posts">
      <a ng-href="{{p.url}}">{{p.title}}</a>
    </li>    
  </ul>
  </div>
  <div id="BlogCategories" class="col-lg-12 col-md-12 col-sm-12">
  <h4 class="subtitle">CATEGORIAS</h4>
  <ul>
    <li ng-repeat="c in categories"><a ng-href="{{c.url}}">{{c.title}}</a></li>
  </ul>
  </div>
  <div id="BlogFacebook" class="col-lg-12 col-md-12 col-sm-12">

  </div>
  <div id="BlogArchives" class="col-lg-12 col-md-12 col-sm-12">
  <h4 class="subtitle">ARQUIVO</h4>
    <ul>
      <li ng-repeat="arch in archive"><a ng-href="{{arch.url}}">{{arch.title}}</a></li>
    </ul>
  </h4>
  </div>
  <div id="NewsletterBox" class="col.md-12.col-sm-12 hidden-xs">
  <h3 class="subtitle">NEWSLETTER</h3>
  <input type="text" class="form-control" ng-model="Newsletter.name" name="name" id="name" placeholder="Seu nome">
  <input type="email" class="form-control" ng-model="Newsletter.email" name="email" id="email" placeholder="Seu e-mail">
  <button ng-click="addNewsletter()" class="pull-right">Enviar</button>
  </div>
</div>