<div id="ValuesBox" class="col-md-12 col-sm-12 col-xs-12">
	<div class="pontilhado top"></div>
	<div class="container">
		<h4 class="values-title">Nossos Valores</h4>				
		<div class="col-md-1 col-sm-1">
			<img src="images/value-quote-open.png" alt="Valores">
		</div>
		<div class="col-md-10 col-sm-10">
			<p class="values-text">{{values.text}}</p>
		</div>
		<div class="col-md-1 col-sm-1">
			<img src="images/value-quote-close.png" alt="Valores">
		</div>
	</div>
	<div class="pontilhado bottom"></div>
</div>