<h1>Listing testimonies</h1>

<div class="row">
<%= link_to 'New Testimony', new_testimony_path, class: 'btn btn-default pull-right' %>
</div>
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Text</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testimonies.each do |testimony| %>
      <tr>
        <td><%= testimony.text %></td>
        <td><%= testimony.author %></td>
        <td><%= link_to 'Show', testimony %></td>
        <td><%= link_to 'Edit', edit_testimony_path(testimony) %></td>
        <td><%= link_to 'Destroy', testimony, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
