<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @testimony.text %>
</p>

<p>
  <strong>Author:</strong>
  <%= @testimony.author %>
</p>

<%= link_to 'Edit', edit_testimony_path(@testimony) %> |
<%= link_to 'Back', testimonies_path %>
