
@font-face {
  font-family: 'HelveticaNeueLTStd-It';
  src: url('HelveticaNeueLTStd-It.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTStd-It.otf')  format('opentype'),
	     url('HelveticaNeueLTStd-It.woff') format('woff'), url('HelveticaNeueLTStd-It.ttf')  format('truetype'), url('HelveticaNeueLTStd-It.svg#HelveticaNeueLTStd-It') format('svg');
  font-weight: normal;
  font-style: normal;
}
