<p id="notice"><%= notice %></p>

<p>
  <strong>Classroom:</strong>
  <%= @subscription.classroom %>
</p>

<p>
  <strong>Student:</strong>
  <%= @subscription.student %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
