<%= bootstrap_form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">    
    <%= f.select :category_id, options_from_collection_for_select(@categories, 'id', 'title'), :prompt => 'Selecione' %>
  </div>
  <div class="field">    
    <%= f.text_field :title %>
  </div>
  <div class="field">    
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
