<h1><%=t('.page_title') %></h1>

<div class="row">
<%= link_to t('.new'), new_course_path, class: 'btn btn-primary pull-right' %>
</div>
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.title')%></th>
      <th><%= t('.modality')%></th>
      <th><%= t('.workload')%></th>
      <th><%= t('.value')%></th>
      <th><%= t('.discount')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>        
        <td><%= course.modality %></td>        
        <td><%= course.workload %></td>        
        <td><%= course.value %></td>
        <td><%= course.discount %></td>
        <td><%= link_to t('links.show'), course, :class => 'btn btn-sm btn-primary' %></td>
        <td><%= link_to t('links.edit'), edit_course_path(course), :class => 'btn btn-sm btn-success' %></td>
        <td><%= link_to t('links.destroy'), course, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
