<h1><%=t('.page_title')%></h1>

<div class="row">
<%= link_to t('.new'), new_post_path, class: 'btn btn-default pull-right' %>
</div>
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.thumbnail') %></th>
      <th><%= t('.body') %></th>
      <th><%= t('.slug') %></th>
      <th><%= t('.user_id') %></th>
      <th><%= t('.status') %></th>
      <th><%= t('.date') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.thumbnail %></td>
        <td><%= post.the_excerpt %></td>
        <td><%= post.slug %></td>
        <td><%= post.username %></td>
        <td><%= post.status %></td>
        <td><%= post.date %></td>
        <td><%= link_to t('links.show'), post, class: 'btn btn-sm btn-primary' %></td>
        <td><%= link_to t('links.edit'), edit_post_path(post), class: 'btn btn-sm btn-success' %></td>
        <td><%= link_to t('links.destroy'), post, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>