<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @post.show_thumbnail %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.the_content %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @post.slug %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.username %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p><strong>Tags:</strong> <%= @post.tag_list %></p>

<br><br><br><br>
<%= link_to t('links.edit'), edit_post_path(@post) %> |
<%= link_to t('links.back'), posts_path %>
