<h1><%= t('.page_title')%></h1>

<div class="row">
<%= link_to t('.new'), new_header_path, class: 'btn btn-default pull-right' %>
</div>
<br><br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th>Page</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @headers.each do |header| %>
      <tr>
        <td><%= header.title %></td>
        <td><%= header.description %></td>
        <td><%= header.image %></td>
        <td><%= header.page %></td>
        <td><%= header.link %></td>
        <td><%= link_to 'Show', header %></td>
        <td><%= link_to 'Edit', edit_header_path(header) %></td>
        <td><%= link_to 'Destroy', header, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>