<%= bootstrap_form_for(@testimony) do |f| %>
  <% if @testimony.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimony.errors.count, "error") %> prohibited this testimony from being saved:</h2>

      <ul>
      <% @testimony.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">    
    <%= f.text_area :text, :class => 'redactor' %>
  </div>
  <div class="field">    
    <%= f.text_field :author %>
  </div>
  <div class="field">    
    <%= f.text_field :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
