// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$icon-font-path: "/fonts/";
$yellow:        #fbb900 !default;
$yellow-lucid:  rgba(251, 185, 0, 0.8) !default;
$red:           #e20613 !default;
$red-lucid:     rgba(226, 6, 19, 0.8) !default;
$blue-light:    #0092d5 !default;
$blue:        #1497d4 !default;
$blue-lucid:  rgba(20, 151, 212, 0.8) !default;
$gray:     #4d4d4d !default;
$gray-text:     #4d4d4d !default;
$gray-dark:   #333333 !default;
$gray-light:  #999999 !default;
$green:     #99cc66 !default;
// bower:scss
//@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

// endbower
@font-face {
  font-family: 'HelveticaNeueLTStd-It';
  src:
   url('/assets/HelveticaNeueLTStd-It/HelveticaNeueLTStd-It.eot?#iefix') format('embedded-opentype'),
   url('/assets/HelveticaNeueLTStd-It/HelveticaNeueLTStd-It.otf')  format('opentype'),
   url('/assets/HelveticaNeueLTStd-It/HelveticaNeueLTStd-It.woff') format('woff'),
   url('/assets/HelveticaNeueLTStd-It/HelveticaNeueLTStd-It.ttf')  format('truetype'),
   url('/assets/HelveticaNeueLTStd-It/HelveticaNeueLTStd-It.svg#HelveticaNeueLTStd-It') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Md';
  src:
   url('/assets/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
   url('/assets/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.otf')  format('opentype'),
   url('/assets/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.woff') format('woff'),
   url('/assets/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.ttf')  format('truetype'),
   url('/assets/HelveticaNeueLTStd-Md/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src:
  	url('/assets/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
    url('/assets/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.otf')  format('opentype'),
    url('/assets/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.woff') format('woff'),
    url('/assets/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.ttf')  format('truetype'),
    url('/assets/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0!important;
  color: $gray-text;
  p{
    margin: 10px 0;
    text-align: justify;
  }
}
.dotted{
  background: asset-url('bg-dotted.png');
}
.red{
  color: $red;
}
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.nav > li > a:hover, .nav > li > a:focus{
  background: none;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
  position: relative;
  .navbar-default{
    background: none;
    border: none;
  }
  .nav > li > a{
    padding: 10px 5px;
  }
}
/* Custom page footer */
.container-narrow > hr {
  margin: 30px 0;
}
.header{
  #MainNav{
    text-transform: uppercase;
    font-size: 16px;
    float: right;
    margin: 5px 0;
    padding: 5px 0;
    .nav > li > a{
      padding: 10px;
      font-family: 'HelveticaNeueLTStd-Roman';
      font-size: 13px;
      padding-bottom: 10px;
    }
    .nav > li > a:hover {
      padding-bottom: 5px;    
      background: asset-url('underscore_red_thin.png') no-repeat 8px bottom !important;
      color: $red !important;    
    }
  }
  .sub-nav {
    float: right;
    .nav > li > a{
      padding: 10px;
      font-family: 'HelveticaNeueLTStd-Roman';
    }
    .nav > li > a:hover{
      padding-bottom: 5px;    
      background: asset-url('underscore_blue_thin.png') no-repeat 8px bottom !important;
      color: $blue-light !important;  
    }
  }
}
.social-icons{
    position: relative;
    ul{
      position: absolute;
      right: 15px;
      top: -19px;
      z-index: 1;
      li{
        width: 55px;
        float: left;
      }
    }
}
.footer {
  background: #575756;
  padding-top: 19px;
  color: #ffffff;
  .container{
    address{
      font-size: 11px;
    }
    p, address{
      font-family: 'HelveticaNeueLTStd-Md';
    }
  }
  .logo-footer{
    margin-top: 20px;
  }
  a, a:hover, a:active{
    color: #ffffff;
  }
  .nav{
    float: right;
  }
  .nav > li > a{
    padding: 10px;
    color: #ffffff;
  }
  #MainNav{
    text-align: right;
    text-transform: uppercase;
    font-size: 16px;
    margin: 15px 0 0 0;
    padding: 5px 15px 5px 0;
    .nav > li > a{
      padding: 10px;
      font-family: 'HelveticaNeueLTStd-Roman';
      font-size: 13px;
      padding-bottom: 10px;
    }
    .nav > li > a:hover, .nav > li > a:active{
      color: #ffffff;
    }
  }
  .social-icons{
    top: 60px !important;
    margin-right: 10px;
  }
}
.box-title{
  text-transform: uppercase;
  margin: 45px 0 50px 0;
  font-weight: bold;
  background: asset-url("underscore_blue.png") no-repeat left bottom;
  padding-bottom: 15px;
}
.subtitle{
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  font-weight: bold;
  background: asset-url("underscore_gray.png") no-repeat left bottom;
  padding-bottom: 10px;
  margin-bottom: 7px;
}
#MediaBox{
  padding: 0;
  margin: 0;
  position: relative;
  height: 249px;  
  &.home{
    @media (min-width: 1900px) {
      height: 360px;
      margin-bottom: 0;    
    }
    margin-bottom: 0px;
  }
  img{
    width: 100%;
  }
  .page-title{
    margin: 180px 0 0 15px;
    text-transform: uppercase;
    padding-bottom: 10px;
    background: asset-url('underscore_gray.png') no-repeat left bottom;
    font-family: 'HelveticaNeueLTStd-Md';
    font-size: 50px;
  }
  &.page{
    .page-title{
      color: $red;
      background: asset-url('underscore_red.png') no-repeat left bottom;
      font-size: 50px;
    }
  }
  &.courses{
    .page-title{
      color: $yellow;
      background: asset-url('underscore_yellow.png') no-repeat left bottom;
    }
  }
  &.services{
    .page-title{
      color: $blue;
      background: asset-url('underscore_blue.png') no-repeat left bottom;
    }
  }
  &.testimonies{
    .page-title{
      color: $yellow;
      background: asset-url('underscore_yellow.png') no-repeat left bottom;
    }
  }
  &.talents{
    .page-title{
      color: $yellow;
      background: asset-url('underscore_yellow.png') no-repeat left bottom;
    }
  }
  &.contact{
    .page-title{
      color: $red;
      background: asset-url('underscore_red.png') no-repeat left bottom;
    }
  }
  &.blog{
    .page-title{
      color: #ffffff;
      background: asset-url('underscore_white.png') no-repeat left bottom;
    }
  }
}
/* Home */
#HomeServices{
  color: $blue-light;
  .nav > li > a{
    padding: 7.5px 0;
  }
}
#NewsletterBox{
  color: $red;
  .subtitle{
    background: asset-url("underscore_red_thin.png") no-repeat left bottom;
  }
  input{
    margin: 5px 0;
  }
  button{
    width: 89px;
    font-family: 'HelveticaNeueLTStd-Roman';
    background: $red;
    height: 27px;
    color: #ffffff;
    margin: 10px 0;
    border: none;
  }
}
#HomeCourses{
  background: $yellow;
  color: #ffffff;
  padding-left: 30px;
  min-height: 655px;
  a, a:link, a:hover, a:active{
    color: #ffffff;
    cursor: pointer;
  }
  .box-title{
    background: asset-url("underscore_white.png") no-repeat left bottom;
  }
  #NextCourses{
    color: #3c3c3b;
    font-family: 'HelveticaNeueLTStd-Roman';
    .subtitle{
      background: asset-url("underscore_gray.png") no-repeat left bottom;
      margin-bottom: 30px;
    }
  }
  #Testimonies{
    min-height: 110px;
    .testimony{
      margin: 10px 0;
      border: none;
      padding: 10px 2% 10px 8%;
      color: #ffffff;
      min-height: 110px;
    }
  }
}
#ShowCourses{
  color: $yellow;
  .carousel-control.left, .carousel-control.right{
    background: none!important;
  }
  .box-title{
    background: asset-url('underscore_yellow.png') no-repeat left bottom;
  }
  .nav-tabs{
    margin: 10px 0 15px 0;
    border: none;
  }
  .nav > li > a {
    text-transform: uppercase;
    border: none;
    color: $yellow;
    padding: 10px 5px 5px 5px;
  }
  .nav-tabs > li.active > a, .nav-tabs > li > a:hover{
    background: asset-url('underscore_yellow_thin.png') no-repeat 5px bottom;
  }
  .course{
    figure{      
      position: relative;
      img{
        display: block;
        margin: 0 auto;
        height: 100%;
        width: 100%;
      }
      figcaption{
        background: $yellow-lucid;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 74px;
        color: #ffffff;
        padding: 15px 0;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        a:link, a:visited{
          color: #ffffff;
        }
      }
    }
  }
}

/* Page */
#SideBar{
  .logo-courses, .logo-services{
    margin: 35px 0;
    margin-left: 15px;
  }
  .logo-courses{
    margin-top: 53px;
    width: 80%;
  }
  .services-nav{
    margin-top: 70px;
    ul{
      list-style-type: none;
      padding: 0;
      line-height: 200%;
      li{
        background: asset-url('sv-list-item.png') no-repeat 0 3px;
        padding-left: 25px;
      }
      color: $blue;
      text-transform: uppercase;
    }
  }
  .courses-nav{
    margin-top: 52px;
    ul{
      list-style-type: none;
      padding: 0;
      line-height: 200%;
      li{
        background: asset-url('cr-list-item.png') no-repeat 0 3px;
        padding-left: 25px;
        &.depoimento{
          background: asset-url('dp-list-item.png') no-repeat 0 3px;
          padding-left: 25px;
        }
        &.banco-talento{
          background: asset-url('bt-list-item.png') no-repeat 0 3px;
          padding-left: 25px;
        }
        a:link, a:visited{
          color: $yellow;
        }
      }
      color: $yellow;
      text-transform: uppercase;
    }
  }
  .other-courses-nav{
    margin-top: 25px;
    color: $yellow;
    ul{
      padding-left: 5px;    
      li{
       list-style: none;
       padding-left: 15px;
      }
      a:link, a:visited{
        color: $gray;
      }
    }
  }
}
#MissionBox, #ValuesBox{
  font-family: 'HelveticaNeueLTStd-Md';
  .values-text, .mission-text{
    font-family: 'HelveticaNeueLTStd-It';
    text-align: center;
    font-size: 15px !important;
    margin-top: 26px !important;
  }
}
#MissionBox{
  width: 100%;
  color: #ffffff;
  text-align: center;
  height: 243px;
  background: asset-url('bg_mission.jpg') #d80612;
  .mission-title{
    background: asset-url('underscore_white_thin.png') no-repeat left bottom;
    text-transform: uppercase;
    text-align: left;
    margin: 20px 0;
    padding-bottom: 5px;
    padding-top: 10px;
    font-weight: bold;
  }
  .mission-text{
    font-size: 19px;
    margin-top: 10px;
  }
  .cover{
    .mission-text{
      margin-top: 45px !important;
    }
  }
  @media screen and (max-width: 768px) {
    height: 541px;
  }
}
#ValuesBox{
  background: #ffffff;
  width: 100%;
  color: $yellow;
  text-align: center;
  min-height: 310px;
  .values-title{
    text-align: left;
    padding-bottom: 10px;
    margin: 50px 0 40px 0;
    font-weight: bold;
    text-transform: uppercase;
    background: asset-url('underscore_yellow_thin.png') no-repeat left bottom;
    padding-bottom: 5px;
  }
  .values-text{
    font-size: 19px;
    margin-top: 10px;
  }
}
.nopadding{
  padding: 0!important;
  margin: 0!important;
}
#MainContent{
  padding: 20px 10px;
  margin: 20px 0;
  line-height: 155%;
  &.contact-page{
    margin-top: 96px;
  }
  h4{
    color: $red;
    margin: 15px 0;
    font-family: 'HelveticaNeueLTStd-Md';
  }
  p{
    font-family: 'HelveticaNeueLTStd-Roman';
    padding-right: 20px;
  }
  .client-logo{
    margin: 20px 0;
  }
  .treinamentos{
    background: asset-url('underscore_yellow.png') no-repeat left bottom;
    padding-bottom: 15px;
  }
  &.service{
    .box-title{
      background: asset-url('underscore_blue_thin.png') no-repeat left bottom;
    }
    ul{
      list-style-image: asset-url('li-blue.png');
    }
  }
  .location{
    font-weight: bold;
    background: asset-url('map-marker.png') no-repeat 0 5px;
    padding-left: 55px;
  }
}
.box-title, .subtitle{
  font-family: 'HelveticaNeueLTStd-Md';
}
#Courses{
  .content-title{
    background: $yellow;
    color: #ffffff;
    a{
      color: $yellow;
      width: 220px;
      font-size: 25px;
      margin-top: 2px;
    }
  }
  .inscreva-se{
      width: 100% !important;
      height: 120px;
      line-height: 120px;
      font-size: 30px;
      margin: 50px 0;
      background: $green;
    }
  .subtitle{
    color: $gray-dark;
    background: asset-url('underscore_yellow_thin.png') no-repeat 0 bottom;
    padding-bottom: 10px;
  }
  .questions{
    background: asset-url('aspas-perguntas.png') left top no-repeat;
    padding-left: 125px;
    min-height: 220px;
    color: $red;
    background-color: none!important;
    h4, .panel-group{
      color: $red;
    }
    .panel-default{
      border: none!important;
    }
    .panel-title{
      .glyphicon-chevron-right{
        color: $gray;
      }
    }
    .panel-heading{
      background: none!important;
      border: none!important;
    }
    .panel-body{
      border: none!important;
      color: $gray;
    }
    h4{
      background: asset-url('underscore_red_thin.png') no-repeat left bottom;
      font-size: 25px;
      padding-bottom: 5px;
    }
  }
  .box-title{
    background: asset-url('underscore_yellow.png') no-repeat left bottom;
  }
  .nav-tabs{
    margin: 10px 0 15px 0;
    border: none;
    li {
      text-transform: uppercase;
    }
    li.active > a{
      background: asset-url('underscore_yellow_thin.png') no-repeat 5px bottom;
    }
  }
  .nav > li > a {
    padding: 10px 5px;
  }
  .nav-tabs > li.active > a, .nav-tabs > li > a{
    border: none;
    color: $yellow;
  }
  .course{
    figure{
      margin-bottom: 20px;
      position: relative;
      img{
        display: block;
        margin: 0 auto;
        width: 100%;
      }
      figcaption{
        background: $yellow-lucid;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 74px !important;
        max-height: 74px!important;
        color: #ffffff;
        padding: 15px 0;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        a:link, a:visited{
          color: #ffffff;
        }
      }
    }
  }
  &.online, &.presencial{
    .profile-box{
      &.open{
        height: auto;
        .teacher-profile{
          height: auto;
        }
      }
      &.closed{
        height: 176px;
        max-height: 176px;
        .teacher-profile{        
          height: 100%;
        }
      }
    }
    .teacher-profile{
      background: $yellow;
      padding: 10px;
      color: #ffffff;
      overflow: hidden;
      h5{
        font-size: 19px;
        font-weight: bold;
      }
      img{
        display: block;
        width: 100%;
      }
      .more{
        position: absolute;
        right: 20px;
        width: 26px;
        height: 26px;
      }
    }
    h4.important{
      background: asset-url('ballon-important.png') no-repeat left top;
      padding-top: 100px;
      margin: 5px 0 10px 0;
      color: $yellow;
      text-transform: uppercase;
    }
  }
  &.presencial{
    #NextCourses{
      background: asset-url('pontilhado.png');
    }
  }
  #StepsButtons{
    height: 125px;
    line-height: 125px;
    text-align: center;
    a{
      border: solid 1px #f0f0f0;
      padding: 35px 40px 25px 0;
      margin: 2px 15px;
      color: $gray-light;
      text-transform: uppercase;
      font-family: 'HelveticaNeueLTStd-Roman';
      margin-right: 30px;
      &:last-child{
        margin-right: 0; 
      }
      span{
        padding: 7px;
        margin-left: -9px;
        border: solid 8px #cccccc;
        border-radius: 8px;
        font-size: 22px;
        font-family: 'HelveticaNeueLTStd-Md';
      }
      &.active{
        border: solid 2px #777777;
        span{
          border: solid 8px $green;
          border-radius: 8px;
          color: $green;
        }
      }
    }
    a:hover{
      text-decoration: none;
      cursor: pointer;
    }
  }
  .btn{
    width: 337px;
    border: none;
    border-radius: 0;
  }
}
.content-title.services{
  background: $blue;
  color: #ffffff;
}
#Services{
  .content-title{
    background: $blue;
    color: #ffffff;
  }
  color: $blue;
  .box-title{
    background: asset-url('underscore_blue.png') no-repeat left bottom;
  }
  .nav-tabs{
    margin: 10px 0 15px 0;
    border: none;
    li.active > a{
      background: asset-url('underscore_blue_thin.png') no-repeat 5px bottom;
    }
  }
  .nav > li > a {
    padding: 10px 5px;
  }
  .nav-tabs > li.active > a, .nav-tabs > li > a{
    border: none;
    color: $blue;
  }
  .service{
    margin: 20px auto;
    position: relative;
    height: 270px;
    &:hover{
      .hover-img{
        display: block;
      }
    }
    figure{
      display: block;
      margin: 15px auto;
      width: 270px;          
      height: 270px;
      img{
        display: block;
        margin: 0 auto;
        width: 100%;
      }
      figcaption{
        position: absolute;
        bottom: 0;
        width: 270px;
        background: $blue-lucid;
        color: #ffffff;
        padding: 15px 0;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        a:link, a:visited{
          color: #ffffff;
        }
      }
    }
  }
}
#Jobs{
  margin-bottom: 30px;
  .back{
    color: $red;
    font-weight: bold;
  }
  .nav-tabs{
    border: none;
    li > a, li > a:visited{
      border: none;
      text-transform: uppercase;
      color: $red;
      font-weight: bold;
    }
    li.active a{
      padding-bottom: 5px;
      background: asset-url('underscore_red_thin.png') no-repeat 12px bottom;
    }
  }
  .job{
    padding: auto 0;
    position: relative;
    margin-bottom: 15px;
    padding-left: 0;
    figure{
      display: block;
      margin: 0 auto;
      width: 270px;          
      height: 170px;
      img{
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        max-height: 170px;
      }
      figcaption{      
        width: 270px;          
        min-height: 60px;
        background: $red;
        padding: 15px;
        color: #ffffff;
        text-align: center;
        display: block;
        margin: 0 auto;
        a, a:visited{
          color: #ffffff;
        }
      }
    }
  }
  .subtitle{
    background: asset-url('underscore_red_thin.png') no-repeat left bottom;
    padding-bottom: 5px;
    margin-left: 15px;
    color: $red;
  }
  figcaption.title-post{    
    max-width: 770px;
    width: 100%;
    background: $red;
    padding: 15px;
    margin: 10px 0 0 0;
    color: #ffffff;
    a:link, a:visited{
      color: #ffffff;
    }
  }
  figure.job-thumb{
    max-width: 635px;
    position: relative;
    img{
      display: block;
      margin: 0 auto;
    }    
  }
}
.content-title{
  padding: 20px;
  margin: 0 0 15px 0;
}
#Testimonies{
  .back{
    color: $yellow;
  }
  .testimony{
    margin: 20px 0;
    border: none;
    min-height: 250px;
    padding: 65px 15% 30px 15%;
    color: $gray-dark;
    &.yellow-bg{
      background-color: $yellow;
      .open-quote{
        background: asset-url("open-quote-white.jpg") no-repeat;
      }
      .close-quote{
        background: asset-url("close-quote-white.jpg") no-repeat;
      }
    }
    p{
      text-align: center!important;
    }
    .open-quote, .close-quote{
      display: block;
      width: 34px;
      height: 24px;
    }
    .open-quote{
      background: asset-url("open-quote-yellow.png") no-repeat;
    }
    .close-quote{
      background: asset-url("close-quote-yellow.png") no-repeat;
    }
  }
}
#Talents{
  font-family: 'HelveticaNeueLTStd-Md';
  .back{
    color: $yellow;
  }
  .nav-tabs{
    margin: 10px 0 15px 0;
    border: none;
    li.active > a{
      background: asset-url('underscore_yellow_thin.png') no-repeat 5px bottom;
    }
  }
  .nav > li > a {
    padding: 10px 5px;
  }
  .nav-tabs > li.active > a, .nav-tabs > li > a{
    border: none;
    color: $yellow;
  }
  figure.talent{
    margin: 20px auto;
    position: relative;
    img{
      display: block;
      margin: 0 auto;
      width: 100%;
    }
    figcaption{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: $yellow-lucid;
      color: #ffffff;
      padding: 7px 0;
      text-align: center;
      font-weight: bold;
      a:link, a:visited{
        color: #ffffff;
      }
    }
  }
  .link-portfolio{
    color: #cccccc;
  }
  .icon-linkedin{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: asset-url('icon-linkedin.png') no-repeat;
  }
}
#Contact{
  margin-top: -60px;
  .subtitle{
    background: asset-url('underscore_red_thin.png') no-repeat -2px bottom;
    padding-bottom: 10px;
    font-size: 25px;
  }
  .btn{
    width: 212px;
  }
  h4{
    margin-bottom: 59px;
  }
  div.col-lg-10{
    margin-bottom: 30px;
  }
  form{
    div.col-md-12, div.col-md-6{
      padding-left: 0;
    }
    input[type="radio"]{
      margin-bottom: 53px;
    }
    p{
      margin-bottom: 51px;
    }
    button{
      border-radius: 0;
      font-weight: bold;
      color: #fff;
      &[type="submit"]{
        margin-right: 69px;
      }
      &.btn-default{
        background:#adadad;
      }
    }
  }
}
#map{
  height: 415px;
  width: 100%;
  margin-top: 84px;
  .map-canvas {
    width: 100%;
    height: 415px;
    margin: 0;
  }
}
#Blog{
  .post{
    figure{
      margin-bottom: 5px;
      img{
        width: 100%;
      }
      .postshare{
        .nav > li > a{
          padding: 0;
        }
      }
    }
    .postdate{
      span{
        width: 84px;
        padding: 13px 5px;
        text-align: center;
        font-style: italic;
        font-size: 14px;
        height: 54px;
        display: block;
        background: asset-url('bg-date.jpg') no-repeat;
        margin-right: 30px;
      }
    }
    h2.posttitle{
      font-size: 25px;
      font-weight: normal;
      padding-left: 10px;
      a, a:link, a:visited{
        color: $gray;
        font-family: 'HelveticaNeueLTStd-Md';
      }
    }
    .content{
      border-bottom: 5px solid #F4F4F4;
      padding-bottom: 20px;
      font-family: 'HelveticaNeueLTStd-Roman';
      padding-left: 10px;
      h1, h2, h3, h4, h5, h6 {
        color: $red;
        font-family: 'HelveticaNeueLTStd-Md';
      }
      ul{
        list-style-image: asset-url("post-li.jpg");
        padding-left: 15px;
      }
    }
    .categories, .tags{
      strong{
        color: $red;
        padding-left: 10px;
      }
      a:link, a:visited{
        color: $gray-light;
      }
    }
  }
}
#BlogSidebar{
  color: $gray;
  line-height: 200%;
  font-family: 'HelveticaNeueLTStd-Md';
  margin-top: 39px;
  li{
    a, a:link, a:visited{
      color: $gray-light;
      font-family: 'HelveticaNeueLTStd-Roman';
    }
  }
  #NewsletterBox{
    margin: 5px 10px;
    button{
      width: 211px;
      font-family: 'HelveticaNeueLTStd-Roman';
      background: $green;
      height: 27px;
      color: #ffffff;
      margin: 10px 0;
      border: none;
    }
  }
}
#NextCourses{
  color: $yellow;
  border-bottom: solid 1px $yellow;
  padding-bottom: 15px;
  margin-bottom: 15px;
  ul{
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    li{
      a:link, a:visited{
        color: $yellow;
        span{
          color: $gray;
        }
      }
    }
  }
  .subtitle{
    background: asset-url("underscore_yellow_thin.png") no-repeat left bottom;
  }
}
#BlogRecents{
  color: $red;
  .subtitle{
    background: asset-url("underscore_red_thin.png") no-repeat left bottom;
    margin-bottom: 10px;
  }
  ul{
    list-style: none;
    padding: 0;
    li{
      a, a:link, a:visited{
        color: $gray;
        line-height: 200%;
        font-family: 'HelveticaNeueLTStd-Roman';
      }
    }
  }
}
#BlogCategories{
  color: $red;
  margin-bottom: 15px;
  ul{
    list-style: none;
    padding: 0;
  }
  .subtitle{
    background: asset-url("underscore_red_thin.png") no-repeat left bottom;
  }
}
#BlogArchives{
  color: $red;
  border-bottom: solid 1px $red;
  padding-bottom: 15px;
  margin-bottom: 15px;
  ul{
    list-style: none;
    padding: 0;
    line-height: 200%;
  }
  .subtitle{
    background: asset-url("underscore_red_thin.png") no-repeat left bottom;
  }
}
#TeamBox{
  padding-bottom: 30px;
  font-family: 'HelveticaNeueLTStd-Md';
  .team-title{
    font-weight: bold;
    color: $gray-text;
    text-transform: uppercase;
    padding-bottom: 5px;
    background: asset-url("underscore_blue_thin.png") no-repeat left bottom;
    font-family: 'HelveticaNeueLTStd-Md';
    margin-bottom: 42px;
  }
  .carousel-control.left, .carousel-control.right{
    background-image: none;
  }
  .team-member{
    img{
      display: block;
      margin: 0 auto;
      width: 100%;
    }
    figcaption{
      color: $blue-light;
      text-align: center;
      text-transform: uppercase;
      padding: 10px;
    }
  }
  .member-profile{
    position: relative;
    color: #ffffff;
    min-height: 155px;
    background-color: $blue-light;
    padding: 30px 10px 10px 130px;
    .text{
      p{
        margin-left: -35px;
        padding-right: 75px;
      }
    }
    .pointer-profile{
      position: absolute;
      left: 20px;
      top: -15px;
      &.first{
        left: 6%;
      }
      &.second{
        left: 31%;
      }
      &.third{
        left: 57%;
      }
      &.forth{
        left: 82%;
      }
    }
  }
}
form{
  .alert-danger{
    background: none;
  }
}
.form-contact-service{
  padding-left: 0px!important;
  margin-right: 20px;
}
/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
.display-mode {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.display-mode span {
  display: inline-block;
  height: 1px;
  width: 1px;
}
.nav-tabs > li > a{
  font-weight: 400 !important;
}

@media only screen and (max-width: 712px) {
  .display-mode .tablet,
  .display-mode .tablet-landscape,
  .display-mode .desktop {
    display: none;
  }
}

@media only screen and (min-width: 713px) and (max-width: 954px) {
  .display-mode .mobile,
  .display-mode .tablet-landscape,
  .display-mode .desktop {
    display: none;
  }
}

@media only screen and (min-width: 955px) and (max-width: 1195px) {
  .display-mode .mobile,
  .display-mode .tablet,
  .display-mode .desktop {
    display: none;
  }
}

@media (min-width: 1196px) {
  .display-mode .mobile,
  .display-mode .tablet,
  .display-mode .tablet-landscape {
    display: none;
  }
}

.colorfull-hover{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: grayscale(100%);/* IE 6-9 */
  &:hover{
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%);
  }
}
figcaption, figcaption > a{
  font-family: 'HelveticaNeueLTStd-Md';
}
p{
  font-family: 'HelveticaNeueLTStd-Roman';
}
.nav{
  li{
    a{
      font-family: 'HelveticaNeueLTStd-Roman';
    }
  }
}
.nav-tabs{
  li{
    a{
      font-family: 'HelveticaNeueLTStd-Md';
    }
  }
}
.copy{
  font-family: 'HelveticaNeueLTStd-It' !important;
  text-align: center;
  font-size: 13px;
}
.page-title{
  font-family: 'HelveticaNeueLTStd-Md';
  font-size: 30px;
  &.yellow{
    background: asset-url("underscore_yellow.png") no-repeat left 42px;
    color: #FBB900;
    font-size: 45px;
  }
}

.bg{
  background: asset-url('bg-home.png') repeat;
  height: 100%;
}
#CourseSubscription{
  .btn{
    width: 210px;
    border-radius: 0;
  }
}
#SelectedCourse{
  background:transparent asset-url('grid-form.png');
  min-height: 195px;
  padding-top: 27px;
  padding-left: 3px;
  font-family: 'HelveticaNeueLTStd-Md';
  h4{
    color: $yellow !important;
  }
  time{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 98%;
  }
}
.cadastro-cursos{
  width: 970px;
  margin: 0 auto;
  fieldset, input, select, textarea{
    width: 100%;
    border-radius: 0;
    background: #FFFFFF;
    font-family: 'HelveticaNeueLTStd-Roman';
    padding-bottom: 5px;
    .subtitle{
      padding-left: 3px;
    }
  }
  input[type="radio"]{
    width: 50%;
  }
  .form-group{
    padding-right: 0;
  }
  .alert{
    color: $red;
    font-family: 'HelveticaNeueLTStd-Roman';
  }
}
.subtitle{
  font-family: 'HelveticaNeueLTStd-Md';
}
.container{
  padding-left: 30px;
}
@media (min-width: 768px){
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    margin-left: -30px;
    img{
      width: 90%;
    }
  }
}
.tab-content{
  .tab-pane{
    .col-lg-12, .col-sm-12, .col-md-12, .col-xs-12{
      padding-left: 3px !important;
    }
  }
}
.pontilhado{
  background: asset-url('pontilhado.png');
  width: 100%;
  height: 38px;
  &.top{
    position: absolute;
    top: 0;
  }
  &.bottom{
    position: absolute;
    bottom: 0;
  }
}
.pontilhado-bg{
  background: url(/assets/pontilhado.png);
  width: 100%;
  position: absolute;
  height: 73px;
  top: 359px;
  left: 0;
  z-index: -1;
}
.navbar-header{
  width: 100%;
  .navbar-brand{
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 3px;
    width: 100% !important;
  }
}
.navbar-nav{
  li{
    a{
      padding-top: 0 !important;
      padding-bottom: 25px;
    }
  }
}
.arrow{
  margin: 20px 0 30px 0;
  &.left{
    float: left;
  }
  &.right{
    float: right;
  }
}
.aspas-left{
  float: left;
  margin-left: -136px;
}
.aspas-right{
  float: right;
}
.courses-list{
  margin-bottom: 50px;
}
.hover-img{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.4;
  img{
      width: 100px !important;
      height: 100px;
      margin: 29% 35%!important;
  }
}
figure.course{
  &:hover{
    .hover-img{
      display: block;
    }
  }
}
.kinetic-slider-container {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  height: 130px;
}
.kinetic-slider-content {
  position: absolute;
  z-index: 1;         // note: make sure you set a z-index
  width: 100%;
}
.points{
  background: asset-url('pontilhado.png');
  width: 100%;
  height: 63px;
  position: absolute;
  top: 390px;
  z-index: -1;
  left: 0;
}
@media (max-width: 769px){
  .points{
    display: none;
  }
}
//Celulares
@media only screen and (max-width: 360px) {
  .navbar-toggle{
    float: none!important;
    display: block;
    margin: 15px auto;
  }
  #MediaBox.home{
    width: 360px;
  }
  .header{
    #MainNav{
      float: none;
      border: none;    
      text-align: center;
      .navbar-nav{
        margin: 0;
      }
      .nav > li > a:hover {
        padding-bottom: 5px;    
        background: asset-url('underscore_red_thin.png') no-repeat center bottom !important;
        color: $red !important;    
      }
    }
    .logo-mobile{
      width: 334px;
      margin-left: -5px;
    }  
    .social-icons{
      ul{
        right: 35px;
        top: 0;
        li{      
          float: left;
        }
      }
    }
    .sub-nav {
      margin-top: 15px;
      width: 75%;
      height: 35px;    
      float: none;
      li{
        float: left;
      }
    }
  }
  #Testimonies{
    .close-quote{
      float: right;
    }
  }
  #HomeServices{
    .box-title{
      margin: 20px 0 10px 0;
    }
  }
  #ShowCourses{
    padding-left: 11px !important;
    figure.course{
      figcaption{
        width: 275px !important;
      }
    }
  }
  #HomeCourses{
    padding-left: 10px;
    width: 360px;
    margin-left: -30px;
    padding-bottom: 30px;
    .courses-list{
      img{
        display: block;
        margin: 20px auto;
      }
    }
  }
  #MissionBox{
    padding-left: 10px;
    width: 360px;
  }  
}
h1.page-title{
  margin-top: 150px !important;
}