body{
	min-height: 100%;
  	padding-top: 70px;
}
#main-footer{
	.container{
		padding-top: 15px;
	}
}
.field_with_errors{
	margin: 0;
	padding: 0;
	label{
		margin: 0;
		padding: 0;
		color: #f00;
	}
	input{
		border: solid 1px #f00;
	}
}
.redactor_box, .redactor-editor {
    height: 300px;
}