<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @format.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @format.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @format.description %>
</p>

<%= link_to 'Edit', edit_format_path(@format) %> |
<%= link_to 'Back', formats_path %>
