<h1><%= t('.page_title') %></h1>
<div class="row">
<%= link_to t('.new'), new_video_path, class: 'btn btn-default pull-right' %>
</div>
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.video_file') %></th>
      <th><%= t('.page') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.video_file %></td>
        <td><%= video.page %></td>
        <td><%= link_to t('links.show'), video, class: 'btn btn-xs btn-primary' %></td>
        <td><%= link_to t('links.edit'), edit_video_path(video), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to t('links.delete'), video, class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>