<header id="MediaBox" style="background:url({{header[0].image.image.header.url}}) no-repeat center center;" class="page col-md-12 col-sm-12.col-xs-12">
	<div class="container">
		<h1 class="page-title">A Frase</h1>
	</div>
</header>
<div class="container">
	<div class="row">
		<aside id="SideBar" class="col-md-3 col-sm-4 empresa hidden-xs">
			
		</aside>
		<section id="MainContent" class="col-md-9 col-sm-8 col-xs-12">
			<p><strong>O Ateliê de Letras agora é Frase. Como tudo na vida um dia vira.
Frase Conteúdo Estratégico é o novo nome e a nova marca do primeiro centro de referência em conteúdo estratégico do Brasil. </strong></p>
			<p>Somos a continuidade de uma história de conquistas. Em mais de 10 anos de estrada, conquistamos o respeito de empresas e marcas importantes.</p>
			<p>Compartilhamos nosso conhecimento com milhares de profissionais e universitários de todo o país. E cumprimos, à risca, o nosso propósito de aproximar empresas e pessoas de seus objetivos, por meio de mensagens estratégicas.</p>
			<p>Reforçamos nossa crença de que qualquer comunicação só se justifica se alcançar resultados. E para isso acontecer, é preciso se envolver com a causa. Não apenas entender, mas incorporar o que as marcas têm a dizer.</p>
			
			<p>É assim, mergulhando em águas profundas, que exercemos nossa expertise de converter informações, sentimentos, intenções e sonhos em conteúdo multiplataforma. Frases escritas, faladas, visuais ou feitas de cor e formas, em movimento ou estática, criadas para despertar inspirações, gerar engajamento e estimular ações. 
Tudo um dia vira frase. Convidamos você e sua marca a fazerem o mesmo.</p>
			<h4>O que fazemos</h4>
			<p><strong>Frase Conteúdo Estratégico</strong></p>
			<p>
				Planejamento, desenvolvimento e gestão de ações de comunicação corporativa, mercadológica e pública. 
Marketing de conteúdo multiplataforma, baseado na produção de conteúdo para mídias on-line e off-line.  O objetivo é  atrair, educar e engajar o consumidor, deixando-o seguro para futuras ações de compra.
			</p>
			<p><strong>Frase Treinamentos</strong></p>
			<p>Treinamentos  abertos, online e in company</p>
			<br>
			<p><strong>Onde estamos</strong></p>
			<p>A partir de nossa sede, em São José dos Campos, São Paulo, atendemos todo o Brasil. </p>
		</section>
	</div>
</div>
<div class="row dotted">
		<section id="TeamBox">
			<div class="container">
				<h4 class="team-title">Equipe</h4>
				<div class="row">
				<carousel interval="myinterval">
					<slide ng-repeat="member in members" active="member.active">
						<div class="team-member col-md-3 col-sm-6 col-xs-12" ng-click="showProfile(members[getSecondIndex($index)].id)">
							<img ng-src="{{members[getSecondIndex($index)].thumb_url}}" alt="{{members[getSecondIndex($index)].name}}">
							<figcaption>{{members[getSecondIndex($index)].name}}</figcaption>
						</div>						
						<div class="team-member col-md-3 col-sm-6 col-xs-12" ng-click="showProfile(members[getSecondIndex($index+1)].id)">
							<img ng-src="{{members[getSecondIndex($index+1)].thumb_url}}" alt="{{members[getSecondIndex($index+1)].name}}">
							<figcaption>{{members[getSecondIndex($index+1)].name}}</figcaption>
						</div>						
						<div class="team-member col-md-3 col-sm-6 col-xs-12" ng-click="showProfile(members[getSecondIndex($index+2)].id)">
							<img ng-src="{{members[getSecondIndex($index+2)].thumb_url}}" alt="{{members[getSecondIndex($index+2)].name}}">
							<figcaption>{{members[getSecondIndex($index+2)].name}}</figcaption>
						</div>						
						<div class="team-member col-md-3 col-sm-6 col-xs-12" ng-click="showProfile(members[getSecondIndex($index+3)].id)">
							<img ng-src="{{members[getSecondIndex($index+3)].thumb_url}}" alt="{{members[getSecondIndex($index+3)].name}}">
							<figcaption>{{members[getSecondIndex($index+3)].name}}</figcaption>
						</div>						
					</slide>
				</carousel>
				</div>
				<br>
				<div class="row">
					<div class="member-profile col-md-12 col-xs-12 col-sm-12" ng-repeat="member in members" id="prof-{{member.id}}" ng-show="activeProfile == member.id">
						<span class="pointer-profile" ng-class="pointerPosition(member.id)"><img src="<%=image_path('bg-profile-blue.png')%>" alt=""></span>
						<div class="text" ng-bind-html="member.raw_profile">
						</div>
					</div>
				</div>
			</div>
		</section>
</div>
<div id="MissionBox" class="col-md-12 col-sm-12 col-xs-12"> 	
	<div class="cover container">
		<h4 class="mission-title">Nossa Missão</h4>				
		<div class="col-md-1 col-sm-1 col-xs-12">
			<img src="<%=image_path('mission-quote-open.png')%>" alt="Missão">
		</div>
		<div class="col-md-10 col-sm-10 col-xs-12">
			<p class="mission-text">{{mission.text}}</p>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-12">
			<img src="<%=image_path('mission-quote-close.png')%>" alt="Missão">
		</div>
	</div>	
</div>
<values-box></values-box>
<br>
