<header id="MediaBox" class="talents col-md-12 col-sm-12 col-xs-12" style="background:url({{apiUrl + header[0].image.image.header.url}}) no-repeat;">
<div class="container">
  <h1 class="page-title">BANCO DE TALENTOS</h1>
</div>
</header>
<div class="container">
  <div id="Talents" class="row">
    <p><a ng-href="#/" class="back pull-right"><img src="<%=image_path('arrow-yellow.png')%>" alt=""> VOLTAR</a></p>
    <br>
    <tabset>
      <tab ng-repeat="l in talents" heading="{{l.letter}}">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4" ng-repeat="talent in l.talents">
          <figure class="talent">
            <img ng-src="{{talent.photo.url}}" alt="{{talent.name}}">
            <figcaption>{{talent.name}}</figcaption>
          </figure>
          <a ng-href="http://{{talent.linkedin}}" class="link-portfolio pull-right">Portfólio <i class="icon-linkedin"></i></a>
        </div>
      </tab>
    </tabset>
  </div>
</div>
