<header id="MediaBox" class="blog col-md-12 col-sm-12 col-xs-12" style="background:url({{apiUrl + header[0].image.image.header.url}}) no-repeat;">
	<div class="container">
		<h1 class="page-title">BLOG</h1>
	</div>
</header>
<div id="Blog" class="container">
	<div class="row">
		<div id="MainContent" class="col-lg-8 col-md-8">
				<div class="post" ng-repeat="post in posts">
					<figure class="col-lg-12 col-md-12 col-sm-12">
						<a ng-href="#/blog/{{post.slug}}"><img ng-src="{{post.thumb_url}}" alt="{{post.title}}"></a>
					</figure>
					<div class="col-lg-12 col-md-12 col sm-12 postdate dotted">
						<span class="pull-right">{{post.created_at | date: "dd.MM.yy"}}</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12">
						<h2 class="posttitle"><a ng-href="{{post.slug}}">{{post.title}}</a></h2>
						<div class="content" ng-bind-html="post.the_content"></div>
					</div>
					<hr>
					<div class="col-md-12 col-sm-12 col-xs-12 categories">
						<strong>Categorias:</strong>
						<a ng-href="#/blog/categorias/{{post.category.id}}">{{post.category.title}}</a> 
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 tags">						
						<strong>Tags: </strong><span ng-bind-html="post.tag_list"></span>
					</div>
					<br>
					<div class="row">
						<div class="postshare col-lg-12 col-md-12">
							<nav class="container">
								<ul class="nav navbar-nav">
									<li><a ng-href="{{post.social.facebook}}"><img src="<%=image_path('icon-fb.png')%>" alt="Facebook"></a></li>
									<li><a ng-href="{{post.social.youtube}}"><img src="<%=image_path('icon-yt.png')%>" alt="YouTube"></a></li>
									<li><a ng-href="{{post.social.google}}"><img src="<%=image_path('icon-gp.png')%>" alt="Google Plus"></a></li>									
									<li><a ng-href="{{post.social.linkedin}}"><img src="<%=image_path('icon-in.png')%>" alt="LinkedIn"></a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div><!--.post-->
				<div class="pontilhado"></div>
			</div><!--#MainContent-->
			<aside class="col-lg-4 col-md-4">
				<sidebar-blog></sidebar-blog>
			</aside>
	</div>
	<div class="row">
		<pagination total-items="totalItems" ng-model="currentPage" previous-text="Anterior" next-text="Próximo" ng-change="pageChanged()"></pagination>
	</div>
</div>
