<header id="MediaBox" class="courses col-md-12 col-sm-12 col-xs-12" style="background:url({{apiUrl + header[0].image.image.header.url}}) no-repeat;">
  <div class="container">
    <h1 class="page-title">Cursos</h1>
  </div>
</header>
<div class="container">
  <div class="row">
    <div id="MainContent">
      <div id="Courses">
        <tabset>
          <tab ng-repeat="mod in modalities" heading="{{mod.title}}" select="goIncompany(mod.slug)">
            <div class="col-md-4 col-sm-3 col-xs-12 course" ng-repeat="course in mod.courses">
              <figure>
                <div class="hover-img"><a ng-href="#/cursos/{{mod.slug}}/{{course.slug}}"><img src="<%= image_path('search.png')%>" alt=""></a></div>
                <a ng-href="#/cursos/{{mod.slug}}/{{course.slug}}"><img alt="{{course.title}}" ng-src="{{course.thumbnail.thumb.url}}"></a>
                <figcaption><a ng-href="#/cursos/{{mod.slug}}/{{course.slug}}">{{course.title}}</a></figcaption>
              </figure>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
