<div id="StepsButtons">
	<a ng-click="selectStep(1)" ng-class="(step == 1) ? 'active' : ''"><span>1º</span> Dados Pessoais</a>
	<a ng-click="selectStep(2)" ng-class="(step == 2) ? 'active' : ''"><span>2º</span> Localização</a>
	<a ng-click="selectStep(3)" ng-class="(step == 3) ? 'active' : ''"><span>3º</span> Pagamento</a>
</div>
<form id="Sform" class="form-vertical cadastro-cursos" name="Sform" ng-submit="saveSubscription()" novalidate>
<input type="hidden" ng-model="Subscription.classroom_id" value="{{classroom.id}}">
		<div id="SelectedCourse">
			<h4 class="subtitle">CURSO SELECIONADO</h4>			
			<p>
				<strong>{{classroom.city}} <time>{{classroom.start | date}}</time> - {{classroom.title}}</strong>
			</p>
			<br>
			<div class="pull-right">
				<span>Valor integral: {{classroom.value | currency : 'R$ ' }} </span><br>
				<span>Valor com desconto: {{classroom.discount | currency : 'R$ ' }}</span>
			</div>
		</div>
		<fieldset ng-show="step == 1">
			<h4 class="subtitle">DADOS PESSOAIS</h4>
			<p class="alert">* Campos de preenchimento obrigatórios</p>
			<div class="form-group col-md-12">
				<label for="name">*Nome completo</label>
				<input type="text" class="form-control" ng-model="Student.name" name="name" required>
				<p ng-show="Sform.name.$invalid && Sform.name.$touched" class="help-block">Preencha o nome</p>
			</div>
			<div class="form-group col-md-12">
				<label for="nickname">Como prefere ser chamado</label>
				<input type="text" class="form-control" ng-model="Student.nickname" name="nickname">				
			</div>
			<div class="form-group col-md-6">
				<label for="rg">*RG</label>
				<input type="text" class="form-control" ng-model="Student.rg" name="rg"  ui-mask="99.999.999-9" required>
				<p ng-show="Sform.rg.$invalid && Sform.rg.$touched" class="help-block">Preencha o RG</p>
			</div>
			<div class="form-group col-md-6">
				<label for="cpf">*CPF</label>
				<input type="text" class="form-control" ng-model="Student.cpf" name="cpf"  ui-mask="999.999.999-99" required>
				<p ng-show="Sform.cpf.$invalid && Sform.cpf.$touched" class="help-block">Preencha o CPF</p>
			</div>
			<div class="form-group col-md-6">
				<label for="birth">*Data de nascimento</label>
				<input type="text" class="form-control" ui-mask="99/99/9999" ng-model="Student.birth" name="birth" required>
				<p ng-show="Sform.birth.$invalid && Sform.birth.$touched" class="help-block">Preencha a data de nascimento</p>
			</div>
			<div class="form-group col-md-6">
				<label for="sexo">*Sexo</label>
				<select name="sexo" class="form-control" ng-model="Student.gender" name="gender" required>
					<option value="">*Sexo</option>
					<option value="m">Masculino</option>
					<option value="f">Feminino</option>
				</select>
			</div>
			<div class="form-group col-md-12">
				<label for="occupation">Profissão</label>
				<input type="text" class="form-control" name="occupation" ng-model="Student.occupation" required>
			</div>
			<div class="form-group col-md-12">
				<label for="email">*Email</label>
				<input type="email" class="form-control" name="email" ng-model="Student.email" required>
				<div ng-show="Sform.$submitted || Sform.email.$touched">
					<span ng-show="Sform.email.$error.required">Informe seu e-mail.</span>
					<span ng-show="Sform.email.$error.email">Este e-mail não é válido.</span>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="phone">*Telefone</label>
				<input type="text" class="form-control" ui-mask="(99) 99999-9999" ng-model="Student.phone" name="phone" required>
			</div>
			<div class="form-group col-md-6">
				<label for="phone">Telefone comercial</label>
				<input type="text" class="form-control" ui-mask="(99) 99999-9999" ng-model="Student.commercial_phone" name="comercial_phone">
			</div>
			<br><br><br>
			<a class="btn btn-success pull-right" ng-click="nextStep()">Avançar</a>
		</fieldset>
		<fieldset ng-show="step == 2">
			<h4 class="subtitle">ENDEREÇO</h4>
			<div class="form-group col-md-12">
				<label for="zipcode">*CEP</label>
				<input type="text" class="form-control" ui-mask="99999-999" ng-model="Student.zipcode" name="zipcode" required>
			</div>
			<div class="form-group col-md-12">
			<label for="address">*Endereço</label>
				<input type="text" class="form-control" ng-model="Student.address" name="address" required>
			</div>
			<div class="form-group col-md-6">
				<label for="number">*Número</label>
				<input type="text" class="form-control" ng-model="Student.number" name="number" required>
			</div>
			<div class="form-group col-md-6">
				<label for="complement">Complemento</label>
				<input type="text" class="form-control" ng-model="Student.complement" name="complement">
			</div>
			<div class="form-group col-md-6">
				<label for="neighborhood">*Bairro</label>
				<input type="text" class="form-control" ng-model="Student.neighborhood" name="neighborhood" required>
			</div>
			<div class="form-group col-md-6">
				<label for="city">*Cidade</label>
				<input type="text" class="form-control" ng-model="Student.city" name="city" required>
			</div>
			<div class="form-group col-md-12">
				<label for="state">*Estado</label>
				<select name="state" id="state" ng-model="Student.state" name="state" class="form-control" required>
					<option value="">*Estado</option>
					<option value="sp">São Paulo</option>
					<option value="sp">Rio de Janeiro</option>
					<option value="sp">Rio Grande do Sul</option>
					<option value="sp">Goias</option>
				</select>
			</div>
			<br><br><br>
			<a class="btn btn-success pull-right" ng-click="nextStep()">Avançar</a>
		</fieldset>
		<fieldset ng-show="step == 3">
			<h4 class="subtitle">PAGAMENTO</h4>
			<div class="form-group">
				<label for="">O faturamento será para pessoa jurídica?</label><br>
				<input type="radio" class="pull-right" ng-model="Student.billing_type" name="entity" value="1"> Sim <br><input type="radio" class="pull-right" ng-model="Student.billing_type" name="entity" value="2"> Não
			</div>
			<button class="btn btn-success pull-right" ng-disabled="Sform.$invalid" type="submit">Concluir</button>
		</fieldset>
</form>

