<header id="MediaBox" class="home col-md-12 col-sm-12 col-xs-12">
	<covervid class="covervid-video" height="560" width="1960" autoplay loop poster="<%=image_path('cover_home.png')%>">
		<source src="<%=image_path('main_novo.webm')%>" type="video/webm">
		<source src="<%=image_path('main_novo.mp4')%>" type="video/mp4">
	</covervid>	
</header>
<div class="bg">
	<div class="container">
		<aside id="HomeServices" class="col-md-3 col-sm-4 col-xs-12">
			<h2 class="box-title">Serviços</h2>
			<ul class="nav">
				<li ng-repeat="sv in services"><a ng-href="#/servicos/{{sv.slug}}">{{sv.title}}</a></li>
			</ul>
			<div id="NewsletterBox" class="col.md-12.col-sm-12 hidden-xs">
				<h3 class="subtitle">NEWSLETTER</h3><br>
				<form action="https://my.sendinblue.com/users/subscribe/js_id/23s0f/id/1" method="post">
					<input type="hidden" id="sib_embed_signup_lang" value="pt">
					<input type="hidden" ng-model="Newsletter.js_id" name="js_id" id="js_id" value="23s0f">
					<input type="hidden" ng-model="Newsletter.listid" name="listid" id="listid" value="2">
					<input type="hidden" ng-model="Newsletter.from_url" name="from_url" id="from_url" value="yes">
					<input type="hidden" ng-model="Newsletter.hdn_email_txt" name="hdn_email_txt" id="hdn_email_txt" value="">
					<input type="text"  ng-model="Newsletter.name" class="form-control" name="NOME" id="NOME" placeholder="Seu nome">
					<input type="email" ng-model="Newsletter.email" class="form-control" name="email" id="email" placeholder="Seu e-mail">
					<button type="submit">Enviar</button>
				</form>
			</div>
		</aside>

		<aside id="HomeCourses" class="col-md-9 col-sm-8 col-xs-12">
			<h2 class="box-title">Cursos</h2>
			<div class="row courses-list">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<span class="col-md-4 col-sm-4 col-xs-12">
						<a href="#/cursos"><%= image_tag('icon-online.png',  alt: "Cursos Online") %></a>
					</span>
					<span class="col-md-4 col-sm-4 col-xs-12">
						<a href="#/cursos"><%= image_tag('icon-presencial.png',  alt: "Cursos Presenciais") %></a>
					</span>
					<span class="col-md-4 col-sm-4 col-xs-12">
						<a href="#/curso-in-company"><%= image_tag('icon-incompany.png',  alt: "Cursos In Company") %></a>
					</span>
				</div>
			</div>
			<div id="NextCourses" class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h3 class="subtitle">Próximos Cursos</h3>
					<ul class="next-courses">
						<li ng-repeat="nxc in next_courses"><strong>{{nxc.city}}</strong> {{nxc.date}} - {{nxc.title}}</li>
					</ul>
				</div>
			</div>
			<hr class="white">
			<div id="Testimonies">
				<div class="testimony yellow-bg">					
					<div class="col-md-1 col-sm-1 col-lg-1">
						<span class="open-quote"></span>
					</div>
					<div class="col-md-9 col-sm-9 col-lg-9">
						<div ng-bind-html="testimony.text"></div>
						<p>{{testimony.author}} <span ng-show="testimony.info">- {{testimony.info}}</span></p>
					</div>
					<div class="col-md-1 col-sm-1 col-lg-1">
						<span class="close-quote"></span>
					</div>
				</div>
				<a ng-href="#/depoimentos" class="btn-testimony pull-right"><%= image_tag('plus-button.png',  alt: "Depoimentos", class: "plus-button") %> depoimentos</a>
			</div>
		</aside>
	</div>
</div>

<mission-box></mission-box>

<div class="container">
	<div id="ShowCourses" style="padding-left: 11px;">
		<h2 class="box-title">Cursos</h2>
		<div class="display-mode" dn-display-mode="displayMode"></div>
		<tabset>    
			<tab ng-repeat="c in courses" heading="{{c.title}}">
			<div class="carousel"  style="height: 210px">
				<carousel interval="myInterval">
					<slide active="c.active">
						<div class="course col-md-4 col-sm-4 col-xs-12" ng-repeat="slide in c.courses | limitTo: 3">
							<figure>
								<div class="hover-img"><a ng-href="#/cursos/{{slide.modality_slug}}/{{course.slug}}"><img src="<%= image_path('search.png')%>" alt=""></a></div>
								<a ng-href="#/cursos/{{slide.modality_slug}}/{{slide.slug}}"><img ng-src="{{slide.thumbnail.thumb.url}}" style="margin:auto;"></a>
								<figcaption>
									<a ng-href="#/cursos/{{slide.modality_slug}}/{{slide.slug}}">{{slide.title}}</a>
								</figcaption>
							</figure>
						</div>
					</slide>
				</carousel>
				<img src="<%=image_path('bt-course-prev.png')%>" ng-click="prev()" class="arrow left">
				<img src="<%=image_path('bt-course-next.png')%>" ng-click="next()" class="arrow right">
			</div>
			</tab>
		</tabset>
	</div>
</div>