<div id="MissionBox" class="col-md-12 col-sm-12 col-xs-12">
	<covervid class="covervid-video" height="560" width="1960" autoplay loop poster="<%=image_path('cover_bass.png')%>">
		<source src="<%=image_path('contra_baixo.webm')%>" type="video/webm">
		<source src="<%=image_path('contra_baixo.mp4')%>" type="video/mp4">
	</covervid> 
	<div class="aspas-left hidden-xs"><img src="<%=image_path('aspas_left.png')%>" alt=""></div>
	<div class="cover container">
		<h4 class="mission-title">Nossa Missão</h4>				
		<div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1">
			<img src="<%=image_path('mission-quote-open.png')%>" alt="Missão">
		</div>
		<div class="col-md-8 col-sm-10 col-xs-9">
			<p class="mission-text">Comunicação com propósito. Conteúdo com relevância. Criatividade inspirada em resultados</p>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-9">
			<img src="<%=image_path('mission-quote-close.png')%>" alt="Missão">
		</div>
	</div>
	<div class="aspas-right hidden-xs"><img src="<%=image_path('aspas_right.png')%>" alt=""></div>
</div>