<header id="MediaBox" class="services col-md-12 col-sm-12 col-xs-12" style="background:url({{apiUrl + header[0].image.image.header.url}}) no-repeat;">
<div class="container">
  <h1 class="page-title">Serviços</h1>
</div>
</header>
<div class="container">
    <div class="row">
      <div id="MainContent">
        <div id="Services">
          <div class="service col-md-4 col-sm-3 col-xs-12"  ng-repeat="service in services">
            <figure>
              <div class="hover-img"><a ng-href="#/servicos/{{service.slug}}"><img src="<%= image_path('search.png')%>" alt=""></a></div>
              <a ng-href="#/servicos/{{service.slug}}"><img src="{{apiUrl + service.thumb_url}}" alt="{{service.title}}"></a>
              <figcaption><a ng-href="#/servicos/{{service.slug}}">{{service.title}}</a></figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
</div>
