<div id="BlogSidebar">
  <div id="NextCourses" class="col-lg-12 col-md-12 col-sm-12">
  <h4 class="subtitle">PRÓXIMOS CURSOS</h4>
  <ul>
    <li ng-repeat="nc in next_courses">
      <a ng-href="#/cursos/presencial/{{nc.course_slug}}">
        <strong>{{nc.city}} {{nc.start | date}}</strong>
        <br>
        <span>{{nc.title}}</span>
      </a>
    </li>
  </ul>
  </div>
  <div id="BlogRecents" class="col-lg-12 col-md-12 col-sm-12">
  <h4 class="subtitle">MAIS RECENTES</h4>
  <ul>
    <li ng-repeat="p in recent_posts | limitTo: 3">
      <a ng-href="#/blog/{{p.slug}}">{{p.title}}</a>
    </li>    
  </ul>
  </div>
  <div id="BlogCategories" class="col-lg-12 col-md-12 col-sm-12">
  <h4 class="subtitle">CATEGORIAS</h4>
  <ul>
    <li ng-repeat="c in categories"><a ng-href="{{c.url}}">{{c.title}}</a></li>
  </ul>
  </div>
  <div id="BlogFacebook" class="col-lg-12 col-md-12 col-sm-12">

  </div>
  <div id="BlogArchives" class="col-lg-12 col-md-12 col-sm-12">
  <h4 class="subtitle">ARQUIVO</h4>
    <ul>
      <li ng-repeat="arch in archive"><a ng-href="{{arch.url}}">{{arch.title}}</a></li>
    </ul>
  </h4>
  </div>
  <div id="NewsletterBox" class="col.md-12.col-sm-12 hidden-xs">
  <h3 class="subtitle">NEWSLETTER</h3>
<form action="https://my.sendinblue.com/users/subscribe/js_id/23s0f/id/1" method="post">
  <input type="hidden" id="sib_embed_signup_lang" value="pt">
  <input type="hidden" ng-model="Newsletter.js_id" name="js_id" id="js_id" value="23s0f">
  <input type="hidden" ng-model="Newsletter.listid" name="listid" id="listid" value="2">
  <input type="hidden" ng-model="Newsletter.from_url" name="from_url" id="from_url" value="yes">
  <input type="hidden" ng-model="Newsletter.hdn_email_txt" name="hdn_email_txt" id="hdn_email_txt" value="">
  <input type="text" class="form-control" ng-model="Newsletter.name" name="NOMEname" id="NOME" placeholder="Seu nome">
  <input type="email" class="form-control" ng-model="Newsletter.email" name="email" id="email" placeholder="Seu e-mail">
  <button type="submit" class="pull-right">Enviar</button>
</form>
  </div>
</div>
