<header id="MediaBox" class="courses col-md-12 col-sm-12 col-xs-12" style="background:#ffffff url({{appUrl + course.header_url}}) no-repeat;">
  <div class="container">
    <h1 class="page-title">CURSOS</h1>
  </div>
</header>
<div id="Courses" class="container">
	<h2 class="content-title"><div class="pontilhado-bg"></div>{{course.title}}</h2>
    <form-inscricao></form-inscricao>
    <br><br>
</div>
