<header id="MediaBox" class="contact col-md-12 col-sm-12 col-xs-12" style="background:url({{apiUrl + header[0].image.image.header.url}}) no-repeat;">
  <div class="container">
    <h1 class="page-title">Contato</h1>
  </div>
</header>
<div ng-controller="ContactCtrl">
<div class="container">
  <div id="MainContent" class="contact-page">
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="info-contact">
          <strong>[12] 3204.4599 | 3308.4636</strong>
          <p>contato@fraseconteudo.com.br</p><br>
          <p>De segunda a sexta-feira, das 9h às 18h</p>
          <div class="location">
              Praça Floripes Bicudo Martins, 71 - Jd. Esplanada II<br>
              São José dos Campos - SP <br>
              CEP 12242-471
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="map">
   <map center="-23.1969716, -45.9091396" scrollwheel="false" zoom="15">
     <marker position="-23.1969716, -45.9091396" title="Frase Conteúdo" on-click="toggleBounce()" animation="DROP"></marker>
   </map>
</div>
<div class="container">
  <div id="Contact" class="row">
      <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1">
        <h4 class="subtitle">Entre em contato</h4>
        <form name="ContactForm" method="post">
        <p class="alert-danger">*Campos de preenchimento obrigatório</p>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="*Nome">
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <input type="text" name="company" class="form-control" placeholder="*Empresa">
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="*E-mail">
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <input type="url" name="site" class="form-control" placeholder="Site">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <input type="text" name="phone1" class="form-control" placeholder="*Telefone 1">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <input type="text" name="phone2" class="form-control" placeholder="*Telefone 2">
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <input type="text" name="about" class="form-control" placeholder="Assunto">
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <textarea name="information" cols="30" rows="10" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <select name="how-met" class="form-control">
                <option value="">Como nos conheceu?</option>
                <option value="Amigos">Indicação de amigos</option>
                <option value="Google">Google</option>
                <option value="Facebook">Facebook</option>
                <option value="Youtube">Youtube</option>
                <option value="Site">Site</option>
              </select>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="">Deseja receber nossa newsletter?</label><br>
              <input type="radio" name="news" value="1"> Sim <input type="radio" name="news" value="0"> Não
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <button type="submit" class="btn btn-success">ENVIAR</button>
            <button type="reset" class="btn btn-default">LIMPAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row"><br></div>
</div>
</div>