<header id="MediaBox" class="courses col-md-12 col-sm-12 col-xs-12" style="background:#ffffff url({{appUrl + course.header_url}}) no-repeat;">
  <div class="container">
    <h1 class="page-title">CURSOS</h1>
  </div>
</header>
<div id="Courses" class="container online">
  <h2 class="content-title"><div class="pontilhado-bg"></div>{{course.title}} <a href="#/inscrever-se" class="btn btn-default pull-right">INSCREVER-SE</a></h2>
  <aside id="SideBar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
      <nav class="courses-nav">
        <ul>
          <li><a href="#/curso-in-company">IN COMPANY</a></li>
          <li><a href="#/cursos">PRESENCIAIS</a></li>
        </ul>
        <ul ng-show="modality == 'PRESENCIAL' ">
          <li class="depoimento"><a href="#/depoimentos">DEPOIMENTOS</a></li>
          <li class="banco-talento"><a href="#/talentos">BANCO DE TALENTOS</a></li>
        </ul>
      </nav>
      <nav class="other-courses-nav">
      <p>OUTROS CURSOS {{modality}}</p>
        <ul>
          <li ng-repeat="c in courses"><a ng-href="#/cursos/{{c.slug}}">{{c.title}}</a></li>
        </ul>
      </nav>
  </aside>
  <div id="MainContent" class="col-lg-8 col-md-8">
    <h4 class="subtitle">INTRODUÇÃO</h4>
      <div ng-bind-html="course.introduction"></div>
    <h4 class="subtitle">OBJETIVOS</h4>
    <div ng-bind-html="course.purpose"></div>

    <h4 class="subtitle">SOBRE O CURSO</h4>
    <div ng-bind-html="course.about"></div>
    <br>
    <h4>Formato do curso</h4>    
    <p>
      <strong ng-show="course.workload">Carga horária:</strong> {{course.workload}}<br>
      <strong ng-show="course.lessons">Número de aulas:</strong> {{course.lessons}}<br>
      <strong ng-show="course.didatic_resources">Recursos didáticos:</strong> {{course.ditatic_resources}}<br>
      <strong ng-show="course.feedback">Feedback e avaliação:</strong> {{course.feedback}}
    </p>
    <h4 class="subtitle">FACILITADOR</h4>
    <div ng-bind-html="course.member" ng-click="toggleProfile()" class="profile-box {{profile_status}}"></div>
    <h4 class="subtitle">INVESTIMENTO</h4>
    <h4>{{course.value}}</h4>
    <div ng-bind-html="course.value_observations"></div>
    <h4 ng-show="course.discount" class="subtitle">DESCONTO</h4>
    <h4 ng-show="course.discount">{{course.discount}}</h4>
    <div ng-bind-html="course.discount_observations"></div>
    <h4 class="important" ng-show="course.important_note">Importante</h4>
    <div ng-bind-html="course.important_note"></div>    
    <div class="col-md-6 col-sm-6 col-xs-12">
      <img src="<%=image_path('pagseguro.jpg')%>" alt="Pag Seguro">
    </div>
    <div class="row">
      <a class="btn btn-success col-md-12 inscreva-se">INSCREVER-SE</a>
    </div>
    <div class="pontilhado"></div>
    <div class="row questions">
      <h4 class="subtitle">PERGUNTAS FREQUENTES</h4>
      <accordion close-others="oneAtATime">
        <accordion-group class="question" is-open="q.open" ng-repeat="q in faqs">
          <accordion-heading>
            {{q.question}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': q.open, 'glyphicon-chevron-right': !q.open}"></i>
          </accordion-heading>
          <div ng-bind-html="q.answer"></div>
        </accordion-group>
    </div>
  </div>
</div>
  <div class="row"><br></div>
