<header id="MediaBox" class="courses col-md-12 col-sm-12 col-xs-12" style="background:#ffffff url({{appUrl + course.header_url}}) no-repeat;">
  <div class="container">
    <h1 class="page-title">CURSOS</h1>
  </div>
</header>
<div id="Courses" class="container presencial">
  <h2 class="content-title"><div class="pontilhado-bg"></div>{{course.title}} <a href="http://ateliedeletras.com.br/cursos-presenciais/redacao-publicitaria-intensivo" class="btn btn-default pull-right">INSCREVER-SE</a></h2>
  <aside id="SideBar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
      <nav class="courses-nav">
        <ul>
          <li><a href="#/cursos">ON LINE</a></li>
          <li><a href="#/curso-in-company">IN COMPANY</a></li>
        </ul>
        <ul>
          <li class="depoimento"><a href="#/depoimentos">DEPOIMENTOS</a></li>
          <li class="banco-talento"><a href="#/talentos">BANCO DE TALENTOS</a></li>
        </ul>
      </nav>
  </aside>
  <div id="MainContent" class="col-lg-8 col-md-8">
    <div id="NextCourses" class="col-lg-12 col-md-12 col-sm-12">
    <h4 class="subtitle">PRÓXIMOS CURSOS</h4>
    <ul>
      <li ng-repeat="nc in next_courses">
        <a ng-href="#/cursos/presencial/{{nc.course_slug}}">
          <strong>{{nc.city}} {{nc.start | date}}</strong>
          <br>
          <span>{{nc.title}}</span>
        </a>
      </li>
    </ul>
    </div>

    <h4 class="subtitle">OBJETIVOS</h4>
    <p>Oferecer recursos voltados ao desenvolvimento de habilidade essenciais para quem redige textos para publicidade e outras ações de marketing</p>

    <h4 class="subtitle">INTRODUÇÃO</h4>
      <div ng-bind-html="course.introduction"></div>
    <h4 class="subtitle">OBJETIVOS</h4>
    <div ng-bind-html="course.purpose"></div>

    <h4 class="subtitle">SOBRE O CURSO</h4>
    <div ng-bind-html="course.about"></div>
    <br>
    <h4>Formato do curso</h4>
    <p>
      <strong ng-show="course.workload">Carga horária:</strong> {{course.workload}}<br>
      <strong ng-show="course.lessons">Número de aulas:</strong> {{course.lessons}}<br>
      <strong ng-show="course.didatic_resources">Recursos didáticos:</strong> {{course.ditatic_resources}}<br>
      <strong ng-show="course.feedback">Feedback e avaliação:</strong> {{course.feedback}}
    </p>
    <h4 class="subtitle">FACILITADOR</h4>
    <div ng-bind-html="course.member" ng-click="toggleProfile()" class="profile-box {{profile_status}}"></div>
    <h4 class="subtitle">INVESTIMENTO</h4>
    <h4>{{course.value}}</h4>
    <div ng-bind-html="course.value_observations"></div>
    <h4 ng-show="course.discount" class="subtitle">DESCONTO</h4>
    <h4 ng-show="course.discount">{{course.discount}}</h4>
    <div ng-bind-html="course.discount_observations"></div>
    <h4 class="important" ng-show="course.important_note">Importante</h4>
    <div ng-bind-html="course.important_note"></div>    

    <div id="CourseSubscriptions" ng-show="course.classrooms.length > 0">
      <h4 class="subtitle">INSCRIÇÕES ABERTAS</h4>
      <div class="subscription" ng-repeat="cl in course.classrooms">
        <strong>{{cl.city}} {{cl.date}}</strong><br>
        <a ng-href="http://ateliedeletras.com.br/cursos-presenciais/redacao-publicitaria-intensivo" class="btn btn-success pull-right">INSCREVER-SE</a>
        <strong>Horário:</strong> {{cl.hour}} <br>
        <strong>Local:</strong> {{cl.place}} <br>
        <br>
      </div>
    </div>
    <h4 class="subtitle" ng-show="course.partners.length > 0">PARCERIAS</h4>
    <figure ng-repeat="part in course.partners" class="col-md-3 col-sm-4 col-xs-6">
      <img ng-src="{{part.url}}" alt="{{part.title}}">
    </figure>
  </div>
</div>
<div class="row"><br></div>