<header id="MediaBox" class="courses col-md-12 col-sm-12 col-xs-12" style="background:url(assets/mediabox01.jpg) no-repeat;">
  <div class="container">
    <h1 class="page-title">CURSOS</h1>
  </div>
</header>
<div id="Courses" class="container online" ng-controller="CoursesViewCtrl">
  <h2 class="content-title">Cursos Online <a href="#/inscrever-se" class="btn btn-default pull-right">INSCREVER-SE</a></h2>
  <aside id="SideBar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
      <nav class="courses-nav">
        <ul>
          <li><a href="#/curso-in-company">IN COMPANY</a></li>
          <li><a href="#/curso-presencial">PRESENCIAIS</a></li>
        </ul>
        <ul>
          <li class="depoimento"><a href="#/depoimentos">DEPOIMENTOS</a></li>
          <li class="banco-talento"><a href="#/banco-de-talentos">BANCO DE TALENTOS</a></li>
        </ul>
      </nav>
  </aside>
  <div id="MainContent" class="col-lg-8 col-md-8">
    <h4 class="subtitle">OBJETIVOS</h4>
    <p>Oferecer recursos voltados ao desenvolvimento de habilidades essenciais para quem redige textos para publicidade e outras ações de marketing.</p>

    <h4 class="subtitle">SOBRE O CURSO</h4>
    <h5>Progama do curso</h5>
    <ol>
      <li>Perceção: um ingrediente fundamental.</li>
      <li>Conhecendo o processo criativo.</li>
      <li>Persuasão: conceito, estrutura e técnicas.</li>
      <li>Como se comunicar com públicos diferentes?</li>
    </ol>
    <h5>Formato do curso</h5>
    <p>
      <strong>Carga horária:</strong> 16 horas  <br>
      <strong>Número de aulas:</strong> 9 aulas <br>
      <strong>Recursos didáticos:</strong> exposições em vídeo, leitura de telas, análise de conteúdo, apresentação de cases e exercícios práticos.<br> Esclarecimento de dúvidas: os participantes terão um link direto da sala de aula virtual para esclarecer dúvidas. <br>
      <strong>Feedbck e avaliação:</strong> Os feedbacks serão realizados uma vez por semana, podendo ter alteração nas datas de envio, sem aviso prévio.
    </p>
    <h4 class="subtitle">FACILITADOR</h4>
    <div class="teacher-profile row">
      <figure class="col-md-3 col-sm-3 col-xs-4">
        <img src="assets/rodolfo.jpg" alt="Rodolfo Dantas">
      </figure>
      <div class="col-md-9 col-sm-9 col-xs-8">
        <h5>Rodolfo Dantas</h5>
        <p>Especialista em Redação Publicitária e Estratégica, Mestre em Comunicação Social na área de Propaganda e Marketing.</p>
        <a ng-click="moreProfile()" class="more pull-right"><img src="assets/more-down-white.jpg" alt="Ver perfil"></a>
      </div>
    </div>
    <h4 class="subtitle">INVESTIMENTO</h4>
    <h4>R$ 310,00</h4>
    <p>(com 5% de desconto a vista ou parcelado* em até 12 vezes)</p>
    <p><i>inclui juros da operadora</i></p>
    <h4 class="important">Importante</h4>
    <p>
      - A confirmação do pagamento é realizada em até 3 dias úteis<br>
      - O envio do login e senha será em até 48 horas após a confirmação do pagamento
    </p>
    <h4 class="subtitle">FORMAS DE PAGAMENTO</h4>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h5>Cartão de crédito</h5>
      <ul class="pull-left">
        <li>01 x R$ 310,00</li>
        <li>02 x R$ 159,63</li>
        <li>03 x R$ 107,48</li>
        <li>04 x R$ 81,39</li>
        <li>05 x R$ 65,35</li>
        <li>06 x R$ 55,33</li>
      </ul>
      <ul class="pull-left">
        <li>07 x R$ 47,88</li>
        <li>08 x R$ 42,30</li>
        <li>09 x R$ 37,96</li>
        <li>10 x R$ 34,49</li>
        <li>11 x R$ 31,96</li>
        <li>12 x R$ 29,30</li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <img src="assets/pagseguro.jpg" alt="Pag Seguro">
    </div>
    <div class="row">
      <button class="btn btn-success col-md-12 inscreva-se">INSCREVER-SE</button>
    </div>
    <div class="row questions">
      <h4 class="subtitle">PERGUNTAS FREQUENTES</h4>
      <accordion close-others="oneAtATime">
        <accordion-group class="question" is-open="q.open" ng-repeat="q in faqs">
          <accordion-heading>
            {{q.question}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': q.open, 'glyphicon-chevron-right': !q.open}"></i>
          </accordion-heading>
          {{q.answer}}
        </accordion-group>
    </div>
  </div>
</div>
  <div class="row"><br></div>
