<header id="MediaBox" style="background:url({{apiUrl + header[0].image.image.header.url}}) no-repeat;" class="page col-md-12 col-sm-12.col-xs-12">
  <div class="container">
    <h1 class="page-title">Cases</h1>
  </div>
</header>
<div id="Jobs" class="container">
  <div class="row">
    <div class="col-lg-offset-1 col-md-offset-1 col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <br>
      <a ng-href="#/portfolio" class="col-md-offset-10 back"><img src="<%=image_path('arrow-back-red.png')%>" alt="Voltar"> VOLTAR</a>
      <br>
      <figcaption class="title-post">{{job.title}}</figcaption>
      <div ng-if="job.video" anguvideo ng-model="job.video" width="770" height="485"></div>
      <figure ng-if="!job.video" class="job-thumb">
        <img ng-src="{{apiUrl + job.header_url}}" alt="Titulo do post" class="thumb">
      </figure>
      <div class="col-md-11 col-sm-11 col-xs-12 nopadding">
        <p><span class="subtitle">CLIENTE:</span> {{job.client}}</p>
        <br>
        <p><span class="red">NECESSIDADE:</span>
        <span ng-bind-html="job.need"></span>
        </p>

        <p><span class="red">SOLUÇÃO:</span>
        <span ng-bind-html="job.solution"></span>
        </p>
        <p><span class="red">RESULTADO:</span>
        <span ng-bind-html="job.result"></span>
        </p>

        <p><span class="red">CRÉDITOS:</span>
        <span ng-bind-html="job.technical_form"></span>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="pontilhado" style="margin: 5px 15px"></div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="subtitle">MAIS CASES</h3>
      <br>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px">
      <div  class="col-lg-3 col-md-3 col-sm-6 col-xs-6 job" ng-repeat="j in jobs | limitTo: 4">
        <figure>
          <a ng-href="#/portfolio/{{j.slug}}"><img ng-src="{{j.thumb_url}}" alt="{{j.title}}" /></a>
          <figcaption><a ng-href="#/portfolio/{{j.slug}}">{{j.title}}</a></figcaption>
        </figure>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <br>
  </div>
</div>
