<header id="MediaBox" class="services col-md-12 col-sm-12 col-xs-12" style="background:#ffffff url({{apiUrl + service.header_image_url}}) no-repeat;">
<div class="container">
  <h1 class="page-title">Serviços</h1>
</div>
</header>
<div class="container">
  <h2 class="content-title services">{{service.title}}</h2>
  <div class="row">
    <aside id="SideBar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
      <nav class="services-nav">
        <ul>
          <li ng-repeat="sv in services"><a ng-href="#/servicos/{{sv.slug}}">{{sv.title}}</a></li>
        </ul>
      </nav>
    </aside>
    <div id="MainContent" class="service col-lg-9 col-md-9 col-sm-8 col-xs-12">
      <div class="row">
        <div ng-bind-html="service.body"></div>
      </div>
      <div class="row">
        <contact-service></contact-service>
      </div>
    </div>
  </div>
</div>
