<%= bootstrap_form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> impediram este curso de ser salvo:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12">
    <%= f.select :modality_id, options_from_collection_for_select(Modality.all.collect, 'id',  'title'), :prompt => 'Selecione' %>
  </div>
  <div class="col-md-12">    
    <%= f.text_field :title %>
  </div>
  <div class="col-md-12">    
    <%= f.file_field :header_image %>
  </div>
  <div class="col-md-12">    
    <%= f.file_field :thumbnail %>
  </div>
  <div class="col-md-12">    
    <%= f.text_area :introduction, class: 'redactor' %>
  </div>
  <div class="col-md-12">    
    <%= f.text_area :purpose, class: 'redactor' %>
  </div>
  <div class="col-md-12">    
    <%= f.text_area :about, class: 'redactor' %>
  </div>
  <div class="col-md-6">    
    <%= f.text_field :workload, :help_inline => 'Ex: 16 horas' %>
  </div>
  <div class="col-md-6">    
    <%= f.text_field :lessons %>
  </div>
  <div class="col-md-12">    
    <%= f.text_field :didatics_resources %>
  </div>
  <div class="col-md-12">    
    <%= f.text_field :feedback %>
  </div>
  <div class="col-md-12">
    <%= f.select :member_id, options_from_collection_for_select(Member.all.collect, 'id',  'name'), :prompt => 'Selecione' %>
  </div>
  <div class="col-md-6">    
    <%= f.text_field :value, :prepend => 'R$ ' %>
  </div>
  <div class="col-md-6">    
    <%= f.text_field :discount, :prepend => 'R$ ' %>
  </div>
  <div class="col-md-6">    
    <%= f.text_area :value_observations %>
  </div>
  <div class="col-md-6">    
    <%= f.text_area :discount_observations %>
  </div>
  <div class="col-md-12">    
    <%= f.text_area :important_note, class: 'redactor' %>
  </div>
  <div class="col-md-12">
    <%= f.submit class: 'btn btn-primary pull-right' %>
  </div>
<% end %>
<br><br><br><br><br><br>