<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Modality:</strong>
  <%= @course.modality %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @course.thumbnail %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @course.purpose %>
</p>

<p>
  <strong>Workload:</strong>
  <%= @course.workload %>
</p>

<p>
  <strong>Lessons:</strong>
  <%= @course.lessons %>
</p>

<p>
  <strong>Didatics resources:</strong>
  <%= @course.didatics_resources %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @course.feedback %>
</p>

<p>
  <strong>Member:</strong>
  <%= @course.member %>
</p>

<p>
  <strong>About:</strong>
  <%= @course.about %>
</p>

<p>
  <strong>Important note:</strong>
  <%= @course.important_note %>
</p>

<p>
  <strong>Value:</strong>
  <%= @course.value %>
</p>

<p>
  <strong>Value observations:</strong>
  <%= @course.value_observations %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @course.discount %>
</p>

<p>
  <strong>Discount observations:</strong>
  <%= @course.discount_observations %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
