<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to t('layout.home'), controller: 'dashboard', action: 'index' %></li>
        <li><%= link_to t('layout.members'), controller: 'members', action: 'index' %></li>
        <li><%= link_to t('layout.testimonies'), controller: 'testimonies', action: 'index' %></li>
        <li><%= link_to t('layout.jobs'), controller: 'jobs', action: 'index' %></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li> <%= link_to t('layout.categories'), controller: 'categories', action: 'index' %></li>
            <li> <%= link_to t('layout.posts'), controller: 'posts', action: 'index' %></li>
          </ul>
        </li>
        <li><%= link_to t('layout.customers'), controller: 'customers', action: 'index' %></li>        
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Serviços <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to t('layout.services'), controller: 'services', action: 'index' %></li>
            <li><%= link_to t('layout.types'), controller: 'types', action: 'index' %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cursos <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to t('layout.courses'), controller: 'courses', action: 'index' %></li>
            <li><%= link_to t('layout.classrooms'), controller: 'classrooms', action: 'index' %></li>
            <li><%= link_to t('layout.modalities'), controller: 'modalities', action: 'index' %></li>
            <li><%= link_to t('layout.subscriptions'), controller: 'subscriptions', action: 'index' %></li>
            <li><%= link_to t('layout.students'), controller: 'students', action: 'index' %></li>
            <li><%= link_to t('layout.talents'), controller: 'talents', action: 'index' %></li>
          </ul>
        </li>        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Site <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><%= link_to t('layout.headers'), controller: 'headers', action: 'index' %></li>
              <li><%= link_to t('layout.boxes'), controller: 'boxes', action: 'index' %></li>
              <li><%= link_to t('layout.videos'), controller: 'videos', action: 'index' %></li>
          </ul>
        </li>        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><%= link_to t('layout.singout'), user_sessions_path, method: :delete %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>