<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Frase - Conteúdo estratégico</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="<%= image_path('favicon.ico')%>" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->    
    <%= stylesheet_link_tag    "front", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "front", "data-turbolinks-track" => true %>
    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>
    <!-- endbuild -->
    <%= csrf_meta_tags %>
  </head>
<body ng-app="fraseApp" ng-controller="AppCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#MainNav">
                <span class="sr-only">Navegar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand hidden-xs" href="#/"><img ng-src="{{logo_src}}" alt=""></a>
            </div>
          </div>
          <div class="visible-xs row">
            <a ng-href="/"><img class="logo-mobile" ng-src="{{logo_src}}" alt="Frase Conteúdo Estratégico"></a>
          </div>
          <div class="col-md-9 col-sm-8 col-xs-12">
            <div class="row">
              <nav id="MainNav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li>
                    <a role="presentation" ng-href="#/a-empresa" ng-class="{active : isActive('/a-empresa')}">A Frase</a>
                  </li>
                  <li>
                    <a role="presentation" ng-href="#/quem-atendemos" ng-class="{active : isActive('/quem-atendemos')}">Quem atendemos</a>
                  </li>
                  <li>
                    <a role="presentation" ng-href="#/portfolio" ng-class="{active : isActive('/portfolio')}">Cases</a>
                  </li>
                  <li>
                    <a role="presentation" ng-href="#/blog" ng-class="{active : isActive('/blog')}">Blog</a>
                  </li>
                  <li>
                    <a role="presentation" ng-href="#/contato" ng-class="{active : isActive('/contato')}">Contato</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="row">
            
              <nav class="sub-nav ">
                <ul class="nav navbar-nav">
                  <li><a ng-href="#/servicos">Serviços</a></li>
                  <li><a ng-href="#/cursos">Cursos</a></li>
                </ul>
              </nav>
            
            </div>
          </div>
        </div>
      </div>
      <nav class="social-icons container">
        <ul class="nav navbar-nav">
          <li><a href="https://www.facebook.com/pages/Frase-Conte%C3%BAdo-Estrat%C3%A9gico/1446485848945716"><%= image_tag('icon-fb.png', alt: 'Facebook')%></a></li>
          <li><a href="https://www.youtube.com/channel/UC3ZwYbSW_oTqoPZ5IZz4R1Q"><%= image_tag('icon-yt.png', alt: 'YouTube')%></a></li>
          <li><a href="https://plus.google.com/u/0/b/106524075712240475811/106524075712240475811/posts"><%= image_tag('icon-gp.png', alt: 'Google Plus')%></a></li>          
          <li><a href="http://www.linkedin.com/"><%= image_tag('icon-in.png', alt: 'LinkedIn')%></a></li>
        </ul>
      </nav>
    </header>

    <div ng-view=""></div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12" style="padding-left: 28px;">
            <%= image_tag('logo-frase-footer-bg.jpg', class: 'logo-footer', alt: 'Frase Conteúdo estratégico')%>
            <p>
            [12] 3204.4599 | 3308.4636 <br>
            <a href="mailto:contato@fraseconteudo.com.br">contato@fraseconteudo.com.br</a>
            </p>
            <address>
            Praça Floripes Bicudo Martins, 71 - Jd. Esplanada II<br>
            CEP 12242-471 São José dos Campos - SP
            </address>
          </div>
          <div class="col-md-8 col-sm-6 hidden-xs">
            <div class="row">
              <nav id="MainNav" class="col-md-12 col-sm-12">
                <ul class="nav navbar-nav">
                  <li><a href="#/a-empresa">A Frase</a></li>
                  <li><a ng-href="#/quem-atendemos">Quem atendemos</a></li>
                  <li><a ng-href="#/portfolio">Cases</a></li>
                  <li><a ng-href="#/blog">Blog</a></li>
                  <li><a ng-href="#/contato">Contato</a></li>
                </ul>
              </nav>
            </div>
            <div class="row">
              <nav class="sub-nav col-md-12 col-sm-12">
                <ul class="nav navbar-nav pull-right">
                  <li><a ng-href="#/servicos">Serviços</a></li>
                  <li><a ng-href="#/cursos">Cursos</a></li>
                </ul>
              </nav>
            </div>
            <div class="row">
              <nav class="social-icons footer">
                <ul class="nav navbar-nav">
                  <li><a href="https://www.facebook.com/pages/Frase-Conte%C3%BAdo-Estrat%C3%A9gico/1446485848945716"><%= image_tag('icon-fb.png', alt: 'Facebook')%></a></li>
                  <li><a href="https://www.youtube.com/channel/UC3ZwYbSW_oTqoPZ5IZz4R1Q/"><%= image_tag('icon-yt.png', alt: 'YouTube')%></a></li>
                  <li><a href="https://plus.google.com/u/0/b/106524075712240475811/106524075712240475811/posts"><%= image_tag('icon-gp.png', alt: 'Google Plus')%></a></li>                  
                  <li><a href="http://www.linkedin.com/"><%= image_tag('icon-in.png', alt: 'LinkedIn')%></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="copy">Copyright &copy; 2015 Frase - Conteúdo Estratégico - Todos os diretos reservados. Desenvolvido por <a target="_blank" href="http://www.bylife.com.br">byLife Soluções</a></p>
        </div>
      </div>
    </footer>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64666707-1', 'auto');
  ga('send', 'pageview');

</script>

   
</body>
</html>
