<%= bootstrap_form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.check_box :team %>
  </div>
  <div class="field">    
    <%= f.text_field :name %>
  </div>
  <div class="field">    
    <%= f.file_field :image %>
  </div>
  <div class="field">    
    <%= f.text_area :short_profile, :class => 'redactor', :rows => 100, :cols => 120 %>
  </div>
  <div class="field">    
    <%= f.text_area :profile, :class => 'redactor', :rows => 100, :cols => 120 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
