<h1><%= t('.page_title')%></h1>

<div class="row">
<%= link_to t('.new'), new_member_path, class: 'btn btn-default pull-right' %>
</div>
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.image %></td>
        <td><%= member.profile %></td>
        <td><%= link_to t('links.show'), member %></td>
        <td><%= link_to t('links.edit'), edit_member_path(member) %></td>
        <td><%= link_to t('links.destroy'), member, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

