<h1>Listing vouchers</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Classroom</th>
      <th>Email</th>
      <th>Cpf</th>
      <th>Observations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vouchers.each do |voucher| %>
      <tr>
        <td><%= voucher.code %></td>
        <td><%= voucher.classroom %></td>
        <td><%= voucher.email %></td>
        <td><%= voucher.cpf %></td>
        <td><%= voucher.observations %></td>
        <td><%= link_to 'Show', voucher %></td>
        <td><%= link_to 'Edit', edit_voucher_path(voucher) %></td>
        <td><%= link_to 'Destroy', voucher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voucher', new_voucher_path %>
