<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @voucher.code %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @voucher.classroom %>
</p>

<p>
  <strong>Email:</strong>
  <%= @voucher.email %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @voucher.cpf %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @voucher.observations %>
</p>

<%= link_to 'Edit', edit_voucher_path(@voucher) %> |
<%= link_to 'Back', vouchers_path %>
